# Import Dependencies

In [1]:
import pandas as pd
import numpy as np
import qgrid
from flask import jsonify
import secret

In [2]:
# connect to local database 
from sqlalchemy import create_engine
# {secret.user_pass_post}
engine = create_engine(f"postgresql://{secret.user_pass_post}@localhost:5432/medicareDB")
engine.table_names()

['physicians_and_supplier2012a',
 'physicians_and_supplier2012b',
 'home_health_agencies_2013',
 'home_health_agencies_2014',
 'hospice_providers_2014',
 'hospital_general_info',
 'inpatient_charges_2011',
 'inpatient_charges_2012',
 'inpatient_charges_2013',
 'inpatient_charges_2014',
 'inpatient_charges_2015',
 'nursing_facilities_2013',
 'nursing_facilities_2014',
 'outpatient_charges_2011',
 'outpatient_charges_2012',
 'outpatient_charges_2013',
 'outpatient_charges_2014',
 'outpatient_charges_2015',
 'physicians_and_supplier2013b',
 'physicians_and_supplier2013a',
 'physicians_and_supplier2014a',
 'physicians_and_supplier2014b',
 'physicians_and_supplier2015a',
 'physicians_and_supplier2015b',
 'part_d_prescriber_2014a',
 'part_d_prescriber_2014b',
 'part_d_prescriber_2014c',
 'part_d_prescriber_2014d',
 'part_d_prescriber_2014_table',
 'data/CLEAN_part_d_FINAL',
 'CLEAN_in_out_patients_charges_metadata',
 'CLEAN_outpatients_charges_combined',
 'CLEAN_inpatients_charges_combined',
 'CLEAN_total_avg_cost_inpatients',
 'CLEAN_total_avg_cost_outpatients',
 'CLEAN_inpatients_drg_data',
 'CLEAN_outpatients_APC_data',
 'CLEAN_states_tables',
 'CLEAN_medications_per_state_most_prescribed_df_data',
 'CLEAN_medications_per_state_total_prescribed_df_data',
 'CLEAN_medication_per_state_cost_data',
 'CLEAN_part_d_Data']

# Read files - Inpatients & Outpatients Data

In [4]:
# Let's get the inpatient data set
inpatient11 = pd.read_csv("data/inpatient_charges_2011.csv",sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
inpatient12 = pd.read_csv("data/inpatient_charges_2012.csv",sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
inpatient13 = pd.read_csv("data/inpatient_charges_2013.csv",sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
inpatient14 = pd.read_csv("data/inpatient_charges_2014.csv",sep=',', error_bad_lines=False, index_col=False, dtype='unicode')

## Transform Inpatient Dataset

In [5]:
# Add year cell to inpatient data set
inpatient11["year"] = "2011"
inpatient12["year"] = "2012"
inpatient13["year"] = "2013"
inpatient14["year"] = "2014"
inpatient14.tail()

,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zipcode,drg_definition,hospital_referral_region_description,total_discharges,average_covered_charges,average_total_payments,average_medicare_payments,year
202651,050573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,920 - COMPLICATIONS OF TREATMENT W CC,CA - Palm Springs/Rancho M,21,54910.09524,6994.52381,5516.333333,2014
202652,050573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,948 - SIGNS & SYMPTOMS W/O MCC,CA - Palm Springs/Rancho M,18,57082.77778,4769.444444,3757.666667,2014
202653,050573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,981 - EXTENSIVE O.R. PROCEDURE UNRELATED TO PR...,CA - Palm Springs/Rancho M,23,252399.8261,31364.21739,27667.91304,2014
202654,050573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,982 - EXTENSIVE O.R. PROCEDURE UNRELATED TO PR...,CA - Palm Springs/Rancho M,21,110158.381,17395.95238,16332.80952,2014
202655,050573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,987 - NON-EXTENSIVE O.R. PROC UNRELATED TO PRI...,CA - Palm Springs/Rancho M,11,249276.2727,28050.36364,27168.90909,2014

In [6]:
# Append data frames
append1 = inpatient11.append(inpatient12)
append2 = append1.append(inpatient13)
inpatient_df = append2.append(inpatient14)

inpatient_df.shape

(677068, 13)

In [7]:
inpatient_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 677068 entries, 0 to 202655
Data columns (total 13 columns):
provider_id                             677068 non-null object
provider_name                           677068 non-null object
provider_street_address                 677068 non-null object
provider_city                           677068 non-null object
provider_state                          677068 non-null object
provider_zipcode                        677068 non-null object
drg_definition                          677068 non-null object
hospital_referral_region_description    677068 non-null object
total_discharges                        677068 non-null object
average_covered_charges                 677068 non-null object
average_total_payments                  677068 non-null object
average_medicare_payments               677068 non-null object
year                                    677068 non-null object
dtypes: object(13)
memory usage: 72.3+ MB

In [8]:
# Convert columns to numeric 
# help: https://stackoverflow.com/questions/15891038/change-data-type-of-columns-in-pandas
inpatient_df[["provider_id", "provider_zipcode", "total_discharges", "average_covered_charges", "average_total_payments", "average_medicare_payments", "year"]] = inpatient_df[["provider_id", "provider_zipcode", "total_discharges", "average_covered_charges", "average_total_payments", "average_medicare_payments", "year"]].apply(pd.to_numeric)

In [9]:
print(inpatient_df.info())
inpatient_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 677068 entries, 0 to 202655
Data columns (total 13 columns):
provider_id                             677068 non-null int64
provider_name                           677068 non-null object
provider_street_address                 677068 non-null object
provider_city                           677068 non-null object
provider_state                          677068 non-null object
provider_zipcode                        677068 non-null int64
drg_definition                          677068 non-null object
hospital_referral_region_description    677068 non-null object
total_discharges                        677068 non-null int64
average_covered_charges                 677068 non-null float64
average_total_payments                  677068 non-null float64
average_medicare_payments               677068 non-null float64
year                                    677068 non-null int64
dtypes: float64(3), int64(4), object(6)
memory usage: 72.3+ MB
None

,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zipcode,drg_definition,hospital_referral_region_description,total_discharges,average_covered_charges,average_total_payments,average_medicare_payments,year
0,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,057 - DEGENERATIVE NERVOUS SYSTEM DISORDERS W/...,AZ - Mesa,12,31522.83333,5780.416667,4845.083333,2011
1,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,064 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,AZ - Mesa,33,56245.78788,12109.787880,10928.666670,2011
2,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,065 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,AZ - Mesa,50,39587.98000,6890.980000,5716.280000,2011
3,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,066 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,AZ - Mesa,26,30465.76923,5521.115385,4080.884615,2011
4,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,069 - TRANSIENT ISCHEMIA,AZ - Mesa,30,34225.53333,4920.133333,3595.933333,2011

In [10]:
# dropping null value columns to avoid errors 
inpatient_df.dropna(inplace = True) 

# Split hospital region and keep city name
# new data frame with split value columns 
new = inpatient_df["hospital_referral_region_description"].str.split("-", n = 1, expand = True) 
  
# making separate first name column from new data frame 
inpatient_df["state"]= new[0] 
  
# making separate last name column from new data frame 
inpatient_df["city"]= new[1] 
  
# Dropping old Name columns 
inpatient_df.drop(columns =["hospital_referral_region_description"], inplace = True) 
inpatient_df.drop(columns =["state"], inplace = True) 

  
# df display 
inpatient_df

,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zipcode,drg_definition,total_discharges,average_covered_charges,average_total_payments,average_medicare_payments,year,city
0,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,057 - DEGENERATIVE NERVOUS SYSTEM DISORDERS W/...,12,31522.83333,5780.416667,4845.083333,2011,Mesa
1,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,064 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,33,56245.78788,12109.787880,10928.666670,2011,Mesa
2,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,065 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,50,39587.98000,6890.980000,5716.280000,2011,Mesa
3,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,066 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,26,30465.76923,5521.115385,4080.884615,2011,Mesa
4,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,069 - TRANSIENT ISCHEMIA,30,34225.53333,4920.133333,3595.933333,2011,Mesa
...,...,...,...,...,...,...,...,...,...,...,...,...,...
202651,50573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,920 - COMPLICATIONS OF TREATMENT W CC,21,54910.09524,6994.523810,5516.333333,2014,Palm Springs/Rancho M
202652,50573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,948 - SIGNS & SYMPTOMS W/O MCC,18,57082.77778,4769.444444,3757.666667,2014,Palm Springs/Rancho M
202653,50573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,981 - EXTENSIVE O.R. PROCEDURE UNRELATED TO PR...,23,252399.82610,31364.217390,27667.913040,2014,Palm Springs/Rancho M
202654,50573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,982 - EXTENSIVE O.R. PROCEDURE UNRELATED TO PR...,21,110158.38100,17395.952380,16332.809520,2014,Palm Springs/Rancho M
202655,50573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,987 - NON-EXTENSIVE O.R. PROC UNRELATED TO PRI...,11,249276.27270,28050.363640,27168.909090,2014,Palm Springs/Rancho M

In [11]:
# Write to CSV file
# inpatient_df.to_csv("data/CLEAN_inpatients_charges_combined.csv", index=False, encoding='utf8')

## Transform Outpatient data set

In [12]:
# Let's get the outpatient data set
outpatient11 = pd.read_csv("data/outpatient_charges_2011.csv",sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
outpatient12 = pd.read_csv("data/outpatient_charges_2012.csv",sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
outpatient13 = pd.read_csv("data/outpatient_charges_2013.csv",sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
outpatient14 = pd.read_csv("data/outpatient_charges_2014.csv",sep=',', error_bad_lines=False, index_col=False, dtype='unicode')

In [13]:
# Add year cell to outpatient data set
outpatient11["year"] = "2011"
outpatient12["year"] = "2012"
outpatient13["year"] = "2013"
outpatient14["year"] = "2014"
inpatient14.tail()

,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zipcode,drg_definition,hospital_referral_region_description,total_discharges,average_covered_charges,average_total_payments,average_medicare_payments,year
202651,050573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,920 - COMPLICATIONS OF TREATMENT W CC,CA - Palm Springs/Rancho M,21,54910.09524,6994.52381,5516.333333,2014
202652,050573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,948 - SIGNS & SYMPTOMS W/O MCC,CA - Palm Springs/Rancho M,18,57082.77778,4769.444444,3757.666667,2014
202653,050573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,981 - EXTENSIVE O.R. PROCEDURE UNRELATED TO PR...,CA - Palm Springs/Rancho M,23,252399.8261,31364.21739,27667.91304,2014
202654,050573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,982 - EXTENSIVE O.R. PROCEDURE UNRELATED TO PR...,CA - Palm Springs/Rancho M,21,110158.381,17395.95238,16332.80952,2014
202655,050573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,987 - NON-EXTENSIVE O.R. PROC UNRELATED TO PRI...,CA - Palm Springs/Rancho M,11,249276.2727,28050.36364,27168.90909,2014

In [14]:
# Append data frames
out1 = outpatient11.append(outpatient12)
out2 = out1.append(outpatient13)
outpatient_df = out2.append(outpatient14)

outpatient_df.shape

(167405, 12)

In [15]:
print(outpatient_df.info())
outpatient_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167405 entries, 0 to 35894
Data columns (total 12 columns):
provider_id                            167405 non-null object
provider_name                          167405 non-null object
provider_street_address                167405 non-null object
provider_city                          167405 non-null object
provider_state                         167405 non-null object
provider_zipcode                       167405 non-null object
apc                                    167405 non-null object
hospital_referral_region               167405 non-null object
outpatient_services                    167405 non-null object
average_estimated_submitted_charges    167405 non-null object
average_total_payments                 167405 non-null object
year                                   167405 non-null object
dtypes: object(12)
memory usage: 16.6+ MB
None

,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zipcode,apc,hospital_referral_region,outpatient_services,average_estimated_submitted_charges,average_total_payments,year
0,030036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0013 - Level II Debridement & Destruction,AZ - Mesa,31,327.5158065,49.88903226,2011
1,030036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0015 - Level III Debridement & Destruction,AZ - Mesa,936,299.8679915,104.4160684,2011
2,030036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0020 - Level II Excision/ Biopsy,AZ - Mesa,14,5409.921429,527.0964286,2011
3,030036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0078 - Level III Pulmonary Treatment,AZ - Mesa,48,566.2758333,101.36,2011
4,030036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0096 - Level II Noninvasive Physiologic Studies,AZ - Mesa,68,767.8220588,107.3352941,2011

In [16]:
# Convert columns to numeric 
# help: https://stackoverflow.com/questions/15891038/change-data-type-of-columns-in-pandas
outpatient_df[["provider_id", "provider_zipcode", "outpatient_services", "average_estimated_submitted_charges", "average_total_payments"]] = outpatient_df[["provider_id", "provider_zipcode", "outpatient_services", "average_estimated_submitted_charges", "average_total_payments"]].apply(pd.to_numeric)
print(outpatient_df.info())
outpatient_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167405 entries, 0 to 35894
Data columns (total 12 columns):
provider_id                            167405 non-null int64
provider_name                          167405 non-null object
provider_street_address                167405 non-null object
provider_city                          167405 non-null object
provider_state                         167405 non-null object
provider_zipcode                       167405 non-null int64
apc                                    167405 non-null object
hospital_referral_region               167405 non-null object
outpatient_services                    167405 non-null int64
average_estimated_submitted_charges    167405 non-null float64
average_total_payments                 167405 non-null float64
year                                   167405 non-null object
dtypes: float64(2), int64(3), object(7)
memory usage: 16.6+ MB
None

,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zipcode,apc,hospital_referral_region,outpatient_services,average_estimated_submitted_charges,average_total_payments,year
0,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0013 - Level II Debridement & Destruction,AZ - Mesa,31,327.515806,49.889032,2011
1,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0015 - Level III Debridement & Destruction,AZ - Mesa,936,299.867992,104.416068,2011
2,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0020 - Level II Excision/ Biopsy,AZ - Mesa,14,5409.921429,527.096429,2011
3,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0078 - Level III Pulmonary Treatment,AZ - Mesa,48,566.275833,101.360000,2011
4,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0096 - Level II Noninvasive Physiologic Studies,AZ - Mesa,68,767.822059,107.335294,2011

In [17]:
# dropping null value columns to avoid errors 
inpatient_df.dropna(inplace = True) 
outpatient_df.dropna(inplace = True) 

# Split hospital region and keep city name
# new data frame with split value columns 
new1 = outpatient_df["hospital_referral_region"].str.split("-", n = 1, expand = True) 
  
# making separate first name column from new data frame 
outpatient_df["state"]= new1[0] 
  
# making separate last name column from new data frame 
outpatient_df["city"]= new1[1] 
  
# Dropping old Name columns 
outpatient_df.drop(columns =["hospital_referral_region"], inplace = True) 
outpatient_df.drop(columns =["state"], inplace = True)   
# df display 
outpatient_df

,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zipcode,apc,outpatient_services,average_estimated_submitted_charges,average_total_payments,year,city
0,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0013 - Level II Debridement & Destruction,31,327.515806,49.889032,2011,Mesa
1,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0015 - Level III Debridement & Destruction,936,299.867992,104.416068,2011,Mesa
2,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0020 - Level II Excision/ Biopsy,14,5409.921429,527.096429,2011,Mesa
3,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0078 - Level III Pulmonary Treatment,48,566.275833,101.360000,2011,Mesa
4,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0096 - Level II Noninvasive Physiologic Studies,68,767.822059,107.335294,2011,Mesa
...,...,...,...,...,...,...,...,...,...,...,...,...
35890,50573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,0631 - Level 1 Examinations & Related Services,594,93.944411,85.080000,2014,Palm Springs/Rancho M
35891,50573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,0632 - Level 2 Examinations & Related Services,83,201.224217,108.697952,2014,Palm Springs/Rancho M
35892,50573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,0634 - Hospital Clinic Visits,173905,226.748456,105.074620,2014,Palm Springs/Rancho M
35893,50573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,0690 - Level I Electronic Analysis of Devices,7088,105.821893,40.882099,2014,Palm Springs/Rancho M
35894,50573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,0692 - Level II Electronic Analysis of Devices,174,332.447299,130.930287,2014,Palm Springs/Rancho M

In [18]:
# # Write to CSV file
# outpatient_df.to_csv("data/CLEAN_outpatients_charges_combined.csv", index=False, encoding='utf8')

# Prepare data for graph

## Prepare inpatient/outpatient data

In [20]:
# See data
inpatient_df.tail()
outpatient_df.tail()

,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zipcode,apc,outpatient_services,average_estimated_submitted_charges,average_total_payments,year,city
35890,50573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,0631 - Level 1 Examinations & Related Services,594,93.944411,85.080000,2014,Palm Springs/Rancho M
35891,50573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,0632 - Level 2 Examinations & Related Services,83,201.224217,108.697952,2014,Palm Springs/Rancho M
35892,50573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,0634 - Hospital Clinic Visits,173905,226.748456,105.074620,2014,Palm Springs/Rancho M
35893,50573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,0690 - Level I Electronic Analysis of Devices,7088,105.821893,40.882099,2014,Palm Springs/Rancho M
35894,50573,EISENHOWER MEDICAL CENTER,39-000 BOB HOPE DRIVE,RANCHO MIRAGE,CA,92270,0692 - Level II Electronic Analysis of Devices,174,332.447299,130.930287,2014,Palm Springs/Rancho M

In [21]:
# Drop unnessary columns
inpatient_df.drop(columns =["provider_street_address"], inplace = True)
inpatient_df.drop(columns =["provider_city"], inplace = True)

# Drop unnessary columns
outpatient_df.drop(columns =["provider_street_address"], inplace = True)
outpatient_df.drop(columns =["provider_city"], inplace = True)

In [22]:
# View data with qgrid
qgrid_inpatient = qgrid.show_grid(inpatient_df, show_toolbar = True)
qgrid_inpatient

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [23]:
# # Write to CSV file
# inpatient_df.to_csv("data/CLEAN_inpatients_charges_combined.csv", index=False, encoding='utf8')

# # Write to CSV file
# outpatient_df.to_csv("data/CLEAN_outpatients_charges_combined.csv", index=False, encoding='utf8')

In [24]:
# Combine one file inpatient and outpatient for metaData
inpatient_df["type"] = "inpatient"
outpatient_df["type"] = "outpatient"

In [25]:
# Merge both data frame
frames = [inpatient_df, outpatient_df]
meta_data_inpatient_outpatient = pd.concat(frames, sort = False)

In [26]:
# See meta_data_shape
meta_data_inpatient_outpatient.shape

(844473, 15)

In [27]:
# Write to CSV file
# meta_data_inpatient_outpatient.to_csv("data/CLEAN_in_out_patients_charges_metadata.csv", index=False, encoding='utf8')

In [28]:
meta_data_inpatient_outpatient.head()

,provider_id,provider_name,provider_state,provider_zipcode,drg_definition,total_discharges,average_covered_charges,average_total_payments,average_medicare_payments,year,city,type,apc,outpatient_services,average_estimated_submitted_charges
0,30036,CHANDLER REGIONAL MEDICAL CENTER,AZ,85224,057 - DEGENERATIVE NERVOUS SYSTEM DISORDERS W/...,12.0,31522.83333,5780.416667,4845.083333,2011,Mesa,inpatient,NaN,NaN,NaN
1,30036,CHANDLER REGIONAL MEDICAL CENTER,AZ,85224,064 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,33.0,56245.78788,12109.787880,10928.666670,2011,Mesa,inpatient,NaN,NaN,NaN
2,30036,CHANDLER REGIONAL MEDICAL CENTER,AZ,85224,065 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,50.0,39587.98000,6890.980000,5716.280000,2011,Mesa,inpatient,NaN,NaN,NaN
3,30036,CHANDLER REGIONAL MEDICAL CENTER,AZ,85224,066 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,26.0,30465.76923,5521.115385,4080.884615,2011,Mesa,inpatient,NaN,NaN,NaN
4,30036,CHANDLER REGIONAL MEDICAL CENTER,AZ,85224,069 - TRANSIENT ISCHEMIA,30.0,34225.53333,4920.133333,3595.933333,2011,Mesa,inpatient,NaN,NaN,NaN

In [30]:
# # Load to database
# meta_data_inpatient_outpatient.to_sql(name='CLEAN_in_out_patients_charges_metadata', con=engine, if_exists='append', index=False)
# outpatient_df.to_sql(name='CLEAN_outpatients_charges_combined', con=engine, if_exists='append', index=False)
# inpatient_df.to_sql(name='CLEAN_inpatients_charges_combined', con=engine, if_exists='append', index=False)

## More cleaning
### Goal to answer costs questions

In [31]:
# Group data by state and city
inpatient_df_grouped = inpatient_df.groupby(["provider_state", 'city'])
inpatient_df_grouped.head()

,provider_id,provider_name,provider_state,provider_zipcode,drg_definition,total_discharges,average_covered_charges,average_total_payments,average_medicare_payments,year,city,type
0,30036,CHANDLER REGIONAL MEDICAL CENTER,AZ,85224,057 - DEGENERATIVE NERVOUS SYSTEM DISORDERS W/...,12,31522.83333,5780.416667,4845.083333,2011,Mesa,inpatient
1,30036,CHANDLER REGIONAL MEDICAL CENTER,AZ,85224,064 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,33,56245.78788,12109.787880,10928.666670,2011,Mesa,inpatient
2,30036,CHANDLER REGIONAL MEDICAL CENTER,AZ,85224,065 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,50,39587.98000,6890.980000,5716.280000,2011,Mesa,inpatient
3,30036,CHANDLER REGIONAL MEDICAL CENTER,AZ,85224,066 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,26,30465.76923,5521.115385,4080.884615,2011,Mesa,inpatient
4,30036,CHANDLER REGIONAL MEDICAL CENTER,AZ,85224,069 - TRANSIENT ISCHEMIA,30,34225.53333,4920.133333,3595.933333,2011,Mesa,inpatient
...,...,...,...,...,...,...,...,...,...,...,...,...
69460,370138,MEMORIAL HOSPITAL OF TEXAS COUNTY,OK,73942,195 - SIMPLE PNEUMONIA & PLEURISY W/O CC/MCC,14,11260.85714,5457.142857,3605.785714,2012,Amarillo,inpatient
69461,370138,MEMORIAL HOSPITAL OF TEXAS COUNTY,OK,73942,291 - HEART FAILURE & SHOCK W MCC,13,17970.30769,10974.923080,10049.923080,2012,Amarillo,inpatient
106384,430089,SIOUXLAND SURGERY CENTER LP,SD,57049,460 - SPINAL FUSION EXCEPT CERVICAL W/O MCC,72,130413.11110,25508.888890,23994.819440,2012,Sioux City,inpatient
117297,360261,THREE GABLES SURGERY CENTER,OH,45669,484 - MAJOR JOINT & LIMB REATTACHMENT PROC OF ...,34,27169.73529,11361.117650,10250.882350,2013,Huntington,inpatient
154565,360261,THREE GABLES SURGERY CENTER,OH,45669,484 - MAJOR JOINT & LIMB REATTACHMENT PROC OF ...,35,24641.34286,11973.142860,10677.314290,2014,Huntington,inpatient

In [51]:
a = inpatient_df_grouped["drg_definition"].value_counts()
a

provider_state  city             drg_definition
AK               Anchorage       194 - SIMPLE PNEUMONIA & PLEURISY W CC                                      30
                                 392 - ESOPHAGITIS, GASTROENT & MISC DIGEST DISORDERS W/O MCC                29
                                 470 - MAJOR JOINT REPLACEMENT OR REATTACHMENT OF LOWER EXTREMITY W/O MCC    28
                                 871 - SEPTICEMIA OR SEVERE SEPSIS W/O MV 96+ HOURS W MCC                    26
                                 378 - G.I. HEMORRHAGE W CC                                                  25
                                                                                                             ..
WY               Salt Lake City  293 - HEART FAILURE & SHOCK W/O CC/MCC                                       1
                                 310 - CARDIAC ARRHYTHMIA & CONDUCTION DISORDERS W/O CC/MCC                   1
                                 462 - BILATERAL OR MULTIPLE MAJOR JOINT PROCS OF LOWER EXTREMITY W/O MCC     1
                                 552 - MEDICAL BACK PROBLEMS W/O MCC                                          1
                                 682 - RENAL FAILURE W MCC                                                    1
Name: drg_definition, Length: 66821, dtype: int64

In [36]:

inpatient_total_discharges = inpatient_df_grouped["total_discharges"].sum()
inpatient_total_discharges
inpatient_average_charges = inpatient_df_grouped["average_covered_charges"].sum()
inpatient_average_charges

provider_state  city
AK               Anchorage         5.141184e+07
AL               Birmingham        3.225430e+08
                 Columbus          1.297255e+06
                 Dothan            4.403383e+07
                 Huntsville        6.208354e+07
                                       ...
WV               Winchester        4.351731e+06
WY               Billings          2.717799e+06
                 Casper            1.507433e+07
                 Fort Collins      1.105501e+07
                 Salt Lake City    2.196810e+06
Name: average_covered_charges, Length: 407, dtype: float64

In [38]:
# Sum numerical data of the inpatients data

inpatient_total_discharges = inpatient_df_grouped["total_discharges"].sum()
inpatient_total_discharges

inpatient_average_charges = inpatient_df_grouped["average_covered_charges"].sum()

inpatient_average_total_payments = inpatient_df_grouped["average_total_payments"].sum()

inpatient_average_medicare_payments = inpatient_df_grouped["average_medicare_payments"].sum()

# Count the number of diagnosis
inpatient_total_MSDRG = inpatient_df_grouped["drg_definition"].count()
inpatient_total_MSDRG

# What is the average cost for inpatient and outpatient treatment in each city and state?

total_average_cost_inpatient = inpatient_average_charges/inpatient_total_MSDRG 
total_average_cost_inpatient = {"avg_charges": inpatient_average_charges,"msdrg_total_count":inpatient_total_MSDRG, "cost_per_treatment":total_average_cost_inpatient}
total_average_cost_inpatient_df = pd.DataFrame(total_average_cost_inpatient)
total_average_cost_inpatient_df = total_average_cost_inpatient_df.reset_index()
total_average_cost_inpatient_df

,provider_state,city,avg_charges,msdrg_total_count,cost_per_treatment
0,AK,Anchorage,5.141184e+07,939,54751.698213
1,AL,Birmingham,3.225430e+08,7453,43276.939887
2,AL,Columbus,1.297255e+06,32,40539.230615
3,AL,Dothan,4.403383e+07,1201,36664.304815
4,AL,Huntsville,6.208354e+07,1614,38465.638893
...,...,...,...,...,...
402,WV,Winchester,4.351731e+06,242,17982.360387
403,WY,Billings,2.717799e+06,137,19837.952076
404,WY,Casper,1.507433e+07,443,34027.838120
405,WY,Fort Collins,1.105501e+07,344,32136.657806
406,WY,Salt Lake City,2.196810e+06,89,24683.260283

In [43]:
# Merge state name
states = pd.read_csv("data/CLEAN_states_tables.csv",sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
states = states.rename(columns = {"state":"provider_state"})
states
total_average_cost_inpatient_df = pd.merge(total_average_cost_inpatient_df,states, on = "provider_state", how = "outer")
total_average_cost_inpatient_df

,provider_state,city,avg_charges,msdrg_total_count,cost_per_treatment,latitude,longitude,name
0,AK,Anchorage,5.141184e+07,939.0,54751.698213,63.588753000000004,-154.493062,Alaska
1,AL,Birmingham,3.225430e+08,7453.0,43276.939887,32.318231,-86.902298,Alabama
2,AL,Columbus,1.297255e+06,32.0,40539.230615,32.318231,-86.902298,Alabama
3,AL,Dothan,4.403383e+07,1201.0,36664.304815,32.318231,-86.902298,Alabama
4,AL,Huntsville,6.208354e+07,1614.0,38465.638893,32.318231,-86.902298,Alabama
...,...,...,...,...,...,...,...,...
403,WY,Billings,2.717799e+06,137.0,19837.952076,43.075967999999996,-107.29028400000001,Wyoming
404,WY,Casper,1.507433e+07,443.0,34027.838120,43.075967999999996,-107.29028400000001,Wyoming
405,WY,Fort Collins,1.105501e+07,344.0,32136.657806,43.075967999999996,-107.29028400000001,Wyoming
406,WY,Salt Lake City,2.196810e+06,89.0,24683.260283,43.075967999999996,-107.29028400000001,Wyoming
407,PR,NaN,NaN,NaN,NaN,18.220833,-66.590149,Puerto Rico

In [44]:
# Export to excel

total_average_cost_inpatient_df.to_csv("data/CLEAN_total_avg_cost_inpatients.csv", index=False, encoding='utf8')

In [35]:
# # Load to database
total_average_cost_inpatient_df.to_sql(name='CLEAN_total_avg_cost_inpatients', con=engine, if_exists='append', index=False)

In [45]:
# Group outpatients data by city and state
outpatient_df_grouped = outpatient_df.groupby(["provider_state", "city"])

# Sum numerical portion of the data
outpatient_services = outpatient_df_grouped["outpatient_services"].sum()
outpatient_average_charges = outpatient_df_grouped["average_estimated_submitted_charges"].sum()
outpatient_average_total_charges = outpatient_df_grouped["average_total_payments"].sum()

# Count the diagnosis
outpatient_total_count_apc = outpatient_df_grouped["apc"].count()
outpatient_total_count_apc

# What is the average cost for inpatient and outpatient treatment in each city and state?
total_average_cost_outpatient = outpatient_average_charges / outpatient_total_count_apc
total_average_cost_outpatient

provider_state  city
AK               Anchorage         1270.425887
AL               Birmingham        2261.235579
                 Columbus          1687.882790
                 Dothan            1932.883442
                 Huntsville        2469.583766
                                      ...
WV               Winchester         984.783837
WY               Billings          1211.847287
                 Casper            1817.442408
                 Fort Collins      1429.990101
                 Salt Lake City    1418.854107
Length: 400, dtype: float64

In [46]:
# Convert to data frame export to excel
total_average_cost_outpatient = {"avg_charges":outpatient_average_charges, "apc_total_count":outpatient_total_count_apc, "cost_per_treatment":total_average_cost_outpatient}
total_average_cost_outpatient_df = pd.DataFrame(total_average_cost_outpatient)
total_average_cost_outpatient_df = total_average_cost_outpatient_df.reset_index()
total_average_cost_outpatient_df

,provider_state,city,avg_charges,apc_total_count,cost_per_treatment
0,AK,Anchorage,4.039954e+05,318,1270.425887
1,AL,Birmingham,3.721994e+06,1646,2261.235579
2,AL,Columbus,2.025459e+04,12,1687.882790
3,AL,Dothan,5.759993e+05,298,1932.883442
4,AL,Huntsville,6.791355e+05,275,2469.583766
...,...,...,...,...,...
395,WV,Winchester,6.499573e+04,66,984.783837
396,WY,Billings,1.017952e+05,84,1211.847287
397,WY,Casper,2.090059e+05,115,1817.442408
398,WY,Fort Collins,1.515790e+05,106,1429.990101
399,WY,Salt Lake City,1.702625e+05,120,1418.854107

In [47]:
# Merge states name
total_average_cost_outpatient_df = pd.merge(total_average_cost_outpatient_df,states, on = "provider_state", how = "outer")
total_average_cost_outpatient_df

,provider_state,city,avg_charges,apc_total_count,cost_per_treatment,latitude,longitude,name
0,AK,Anchorage,4.039954e+05,318.0,1270.425887,63.588753000000004,-154.493062,Alaska
1,AL,Birmingham,3.721994e+06,1646.0,2261.235579,32.318231,-86.902298,Alabama
2,AL,Columbus,2.025459e+04,12.0,1687.882790,32.318231,-86.902298,Alabama
3,AL,Dothan,5.759993e+05,298.0,1932.883442,32.318231,-86.902298,Alabama
4,AL,Huntsville,6.791355e+05,275.0,2469.583766,32.318231,-86.902298,Alabama
...,...,...,...,...,...,...,...,...
397,WY,Casper,2.090059e+05,115.0,1817.442408,43.075967999999996,-107.29028400000001,Wyoming
398,WY,Fort Collins,1.515790e+05,106.0,1429.990101,43.075967999999996,-107.29028400000001,Wyoming
399,WY,Salt Lake City,1.702625e+05,120.0,1418.854107,43.075967999999996,-107.29028400000001,Wyoming
400,MD,NaN,NaN,NaN,NaN,39.045755,-76.641271,Maryland
401,PR,NaN,NaN,NaN,NaN,18.220833,-66.590149,Puerto Rico

In [49]:
total_average_cost_outpatient_df.to_csv("data/CLEAN_total_avg_cost_outpatients.csv", index=False, encoding='utf8')
total_average_cost_outpatient_df

,provider_state,city,avg_charges,apc_total_count,cost_per_treatment,latitude,longitude,name
0,AK,Anchorage,4.039954e+05,318.0,1270.425887,63.588753000000004,-154.493062,Alaska
1,AL,Birmingham,3.721994e+06,1646.0,2261.235579,32.318231,-86.902298,Alabama
2,AL,Columbus,2.025459e+04,12.0,1687.882790,32.318231,-86.902298,Alabama
3,AL,Dothan,5.759993e+05,298.0,1932.883442,32.318231,-86.902298,Alabama
4,AL,Huntsville,6.791355e+05,275.0,2469.583766,32.318231,-86.902298,Alabama
...,...,...,...,...,...,...,...,...
397,WY,Casper,2.090059e+05,115.0,1817.442408,43.075967999999996,-107.29028400000001,Wyoming
398,WY,Fort Collins,1.515790e+05,106.0,1429.990101,43.075967999999996,-107.29028400000001,Wyoming
399,WY,Salt Lake City,1.702625e+05,120.0,1418.854107,43.075967999999996,-107.29028400000001,Wyoming
400,MD,NaN,NaN,NaN,NaN,39.045755,-76.641271,Maryland
401,PR,NaN,NaN,NaN,NaN,18.220833,-66.590149,Puerto Rico

In [38]:
# # Load to database
total_average_cost_outpatient_df.to_sql(name='CLEAN_total_avg_cost_outpatients', con=engine, if_exists='append', index=False)

### Goal to answer diagnostics questions

In [62]:
# Which are the most common inpatient diagnostic conditions in the United States
# Which city have the most number of cases for each diagnostic condition?
# What are the average payments for these conditions in these cities and how do they compare to the national average?

# Group by state, city and diagnosis

inpatient_df_grouped_drg = inpatient_df.groupby(["provider_state","city","drg_definition"])

# Sum and count specific columns
inpatient_df_grouped_drg_total_payments = inpatient_df_grouped_drg["average_total_payments"].sum()
inpatient_df_grouped_drg_count = inpatient_df_grouped_drg["drg_definition"].count()

# Find average of results
inpatient_df_grouped_drg_avg_payment_condition = inpatient_df_grouped_drg_total_payments / inpatient_df_grouped_drg_count

# Convert to dataframes
inpatient_df_grouped_drg_data = {"drg_count": inpatient_df_grouped_drg_count, "drg_total_payments": inpatient_df_grouped_drg_total_payments, "avg_pay_drg": inpatient_df_grouped_drg_avg_payment_condition }
inpatient_df_grouped_drg_data_df = pd.DataFrame(inpatient_df_grouped_drg_data)
inpatient_df_grouped_drg_data_df = inpatient_df_grouped_drg_data_df.reset_index()
print(inpatient_df_grouped_drg_data_df)

      provider_state             city  \
0                 AK        Anchorage
1                 AK        Anchorage
2                 AK        Anchorage
3                 AK        Anchorage
4                 AK        Anchorage
...              ...              ...
66816             WY   Salt Lake City
66817             WY   Salt Lake City
66818             WY   Salt Lake City
66819             WY   Salt Lake City
66820             WY   Salt Lake City

                                          drg_definition  drg_count  \
0      003 - ECMO OR TRACH W MV 96+ HRS OR PDX EXC FA...          1
1      004 - TRACH W MV 96+ HRS OR PDX EXC FACE, MOUT...          1
2                     038 - EXTRACRANIAL PROCEDURES W CC          1
3               039 - EXTRACRANIAL PROCEDURES W/O CC/MCC          5
4      057 - DEGENERATIVE NERVOUS SYSTEM DISORDERS W/...          3
...                                                  ...        ...
66816  641 - MISC DISORDERS OF NUTRITION,METABOLISM,F...          6
66817                          682 - RENAL FAILURE W MCC          1
66818                           683 - RENAL FAILURE W CC          4
66819    690 - KIDNEY & URINARY TRACT INFECTIONS W/O MCC          7
66820  871 - SEPTICEMIA OR SEVERE SEPSIS W/O MV 96+ H...          3

       drg_total_payments    avg_pay_drg
0           205621.000000  205621.000000
1           144232.363600  144232.363600
2            13833.750000   13833.750000
3            44253.467568    8850.693514
4            36480.102270   12160.034090
...                   ...            ...
66816        39580.744174    6596.790696
66817        15992.000000   15992.000000
66818        40164.599643   10041.149911
66819        52065.582307    7437.940330
66820        53189.598680   17729.866227

[66821 rows x 6 columns]

In [63]:
inpatient_df_grouped_drg_data_df = pd.merge(inpatient_df_grouped_drg_data_df,states, on = "provider_state", how = "outer")
inpatient_df_grouped_drg_data_df

,provider_state,city,drg_definition,drg_count,drg_total_payments,avg_pay_drg,latitude,longitude,name
0,AK,Anchorage,003 - ECMO OR TRACH W MV 96+ HRS OR PDX EXC FA...,1.0,205621.000000,205621.000000,63.588753000000004,-154.493062,Alaska
1,AK,Anchorage,"004 - TRACH W MV 96+ HRS OR PDX EXC FACE, MOUT...",1.0,144232.363600,144232.363600,63.588753000000004,-154.493062,Alaska
2,AK,Anchorage,038 - EXTRACRANIAL PROCEDURES W CC,1.0,13833.750000,13833.750000,63.588753000000004,-154.493062,Alaska
3,AK,Anchorage,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,5.0,44253.467568,8850.693514,63.588753000000004,-154.493062,Alaska
4,AK,Anchorage,057 - DEGENERATIVE NERVOUS SYSTEM DISORDERS W/...,3.0,36480.102270,12160.034090,63.588753000000004,-154.493062,Alaska
...,...,...,...,...,...,...,...,...,...
66817,WY,Salt Lake City,682 - RENAL FAILURE W MCC,1.0,15992.000000,15992.000000,43.075967999999996,-107.29028400000001,Wyoming
66818,WY,Salt Lake City,683 - RENAL FAILURE W CC,4.0,40164.599643,10041.149911,43.075967999999996,-107.29028400000001,Wyoming
66819,WY,Salt Lake City,690 - KIDNEY & URINARY TRACT INFECTIONS W/O MCC,7.0,52065.582307,7437.940330,43.075967999999996,-107.29028400000001,Wyoming
66820,WY,Salt Lake City,871 - SEPTICEMIA OR SEVERE SEPSIS W/O MV 96+ H...,3.0,53189.598680,17729.866227,43.075967999999996,-107.29028400000001,Wyoming
66821,PR,NaN,NaN,NaN,NaN,NaN,18.220833,-66.590149,Puerto Rico

In [65]:
#Export to excel
inpatient_df_grouped_drg_data_df.to_csv("data/CLEAN_inpatients_drg_data.csv", index=False, encoding='utf8')

In [66]:
inpatient_df_grouped_drg_data_df

,provider_state,city,drg_definition,drg_count,drg_total_payments,avg_pay_drg,latitude,longitude,name
0,AK,Anchorage,003 - ECMO OR TRACH W MV 96+ HRS OR PDX EXC FA...,1.0,205621.000000,205621.000000,63.588753000000004,-154.493062,Alaska
1,AK,Anchorage,"004 - TRACH W MV 96+ HRS OR PDX EXC FACE, MOUT...",1.0,144232.363600,144232.363600,63.588753000000004,-154.493062,Alaska
2,AK,Anchorage,038 - EXTRACRANIAL PROCEDURES W CC,1.0,13833.750000,13833.750000,63.588753000000004,-154.493062,Alaska
3,AK,Anchorage,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,5.0,44253.467568,8850.693514,63.588753000000004,-154.493062,Alaska
4,AK,Anchorage,057 - DEGENERATIVE NERVOUS SYSTEM DISORDERS W/...,3.0,36480.102270,12160.034090,63.588753000000004,-154.493062,Alaska
...,...,...,...,...,...,...,...,...,...
66817,WY,Salt Lake City,682 - RENAL FAILURE W MCC,1.0,15992.000000,15992.000000,43.075967999999996,-107.29028400000001,Wyoming
66818,WY,Salt Lake City,683 - RENAL FAILURE W CC,4.0,40164.599643,10041.149911,43.075967999999996,-107.29028400000001,Wyoming
66819,WY,Salt Lake City,690 - KIDNEY & URINARY TRACT INFECTIONS W/O MCC,7.0,52065.582307,7437.940330,43.075967999999996,-107.29028400000001,Wyoming
66820,WY,Salt Lake City,871 - SEPTICEMIA OR SEVERE SEPSIS W/O MV 96+ H...,3.0,53189.598680,17729.866227,43.075967999999996,-107.29028400000001,Wyoming
66821,PR,NaN,NaN,NaN,NaN,NaN,18.220833,-66.590149,Puerto Rico

In [41]:
# # Export to database 
inpatient_df_grouped_drg_data_df.to_sql(name='CLEAN_inpatients_drg_data', con=engine, if_exists='append', index=False)

In [42]:
# Whch are the most common outpatient diagnostic conditions in the United States
# Which city have the most number of cases for each diagnostic condition?
# What are the average payments for these conditions in these cities and how do they compare to the national average?

# Group by state, city and diagnosis for outpatients
outpatient_df_grouped_apc = outpatient_df.groupby(["provider_state","city","apc"])

# Do calculations
outpatient_df_grouped_apc_total_payments = outpatient_df_grouped_apc["average_total_payments"].sum()
outpatient_df_grouped_apc_count = outpatient_df_grouped_apc["apc"].count()
outpatient_df_grouped_apc_avg_payment_condition = outpatient_df_grouped_apc_total_payments / outpatient_df_grouped_apc_count

# Create data frame
outpatient_df_grouped_apc_data = {"apc_count": outpatient_df_grouped_apc_count, "apc_total_payments": outpatient_df_grouped_apc_total_payments, "avg_pay_apc": outpatient_df_grouped_apc_avg_payment_condition }
outpatient_df_grouped_apc_data_df = pd.DataFrame(outpatient_df_grouped_apc_data)
outpatient_df_grouped_apc_data_df = outpatient_df_grouped_apc_data_df.reset_index()
outpatient_df_grouped_apc_data_df

# Export to excel 
outpatient_df_grouped_apc_data_df.to_csv("data/CLEAN_outpatients_APC_data.csv", index=False, encoding='utf8')

In [43]:
# load to data base
outpatient_df_grouped_apc_data_df.to_sql(name='CLEAN_outpatients_APC_data', con=engine, if_exists='append', index=False)

# Read Files Part D - Data

In [95]:
# Let's get the part-d dataset
part_d_a = pd.read_csv("data/part_d_prescriber_2014a.csv",sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
part_d_b = pd.read_csv("data/part_d_prescriber_2014b.csv",sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
part_d_c = pd.read_csv("data/part_d_prescriber_2014c.csv",sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
part_d_d = pd.read_csv("data/part_d_prescriber_2014d.csv",sep=',', error_bad_lines=False, index_col=False, dtype='unicode')

## Questions to answer:
1. What is the total number of medications prescribed in each state?
2. What is the most prescribed medication in each state?

In [96]:
# What is the total number of medications prescribed in each state?
# What is the most prescribed medication in each state?
print(part_d_a.head())
print(part_d_b.head())
print(part_d_c.head())
print(part_d_d.head())

          npi nppes_provider_last_org_name nppes_provider_first_name  \
0  1598870164                          LAM                   PATRICK
1  1053306662                  BARTHOLOMEW                      DEAN
2  1023026937                           LU                  LEIGHMIN
3  1689692592                    STOCKWELL                    PHILIP
4  1922083104                        CARON                    NORMAN

  nppes_provider_city nppes_provider_state
0            HONOLULU                   HI
1            SARATOGA                   WY
2           ST THOMAS                   VI
3     EAST PROVIDENCE                   RI
4           DUNBARTON                   NH
          npi                              specialty_description
0  1679570527                                    General Surgery
1  1871535179                                     Anesthesiology
2  1952677445  Student in an Organized Health Care Education/...
3  1780624122                  Osteopathic Manipulative Medicine
4  1811190804                                     Otolaryngology
          npi bene_count total_claim_count total_day_supply total_drug_cost
0  1184696627        NaN                54             1740          162.34
1  1104846351       15.0                58             3037        14727.27
2  1457376790       23.0                62             1818          426.06
3  1326026956        NaN                52             1724          842.78
4  1275591026       18.0                56             2820         1954.27
          npi            drug_name total_claim_count_ge65  \
0  1013904184  HYDROCHLOROTHIAZIDE                   29.0
1  1679576359          HYDROXYUREA                   29.0
2  1730434176           FUROSEMIDE                   29.0
3  1174546295   ALENDRONATE SODIUM                   29.0
4  1194719591          ALLOPURINOL                   29.0

  total_day_supply_ge65 total_drug_cost_ge65
0                1852.0               173.93
1                1482.0               888.73
2                1335.0               139.68
3                1313.0                294.8
4                1786.0               276.75

In [100]:
# # Delete unnessary columns
part_d_a = part_d_a.drop(columns =["nppes_provider_last_org_name","nppes_provider_first_name"])
part_d_a
part_d_c = part_d_c.drop(columns =["bene_count"])
part_d_c

                 npi total_claim_count total_day_supply total_drug_cost
0         1184696627                54             1740          162.34
1         1104846351                58             3037        14727.27
2         1457376790                62             1818          426.06
3         1326026956                52             1724          842.78
4         1275591026                56             2820         1954.27
...              ...               ...              ...             ...
24120613  1770566531                51             1574        12586.71
24120614  1801881214                51             4110         1160.95
24120615  1841285715                51             1504        12694.44
24120616  1851621064                51             4095        24560.45
24120617  1841347770                51             1999          291.14

[24120618 rows x 4 columns]

In [102]:
part_d_a

                 npi nppes_provider_city nppes_provider_state
0         1598870164            HONOLULU                   HI
1         1053306662            SARATOGA                   WY
2         1023026937           ST THOMAS                   VI
3         1689692592     EAST PROVIDENCE                   RI
4         1922083104           DUNBARTON                   NH
...              ...                 ...                  ...
24120613  1326091778          CHARLESTON                   WV
24120614  1285687764            WHEELING                   WV
24120615  1578686226         PARKERSBURG                   WV
24120616  1053370056           HURRICANE                   WV
24120617  1063515054              RACINE                   WV

[24120618 rows x 3 columns]

In [101]:
# Export to csv to be safe
part_d_a.to_csv("data/CLEAN_part_d_a.csv", index=False, encoding='utf8')

In [103]:
#This is the dictionary to get the first and second columns all rows to then map it 
part_d_a_dict = {row[0]: row[2] for k, row in part_d_a.iterrows()}
part_d_a_dict

{'1598870164': 'HI',
 '1053306662': 'WY',
 '1023026937': 'VI',
 '1689692592': 'RI',
 '1922083104': 'NH',
 '1265405864': 'SD',
 '1366519563': 'WY',
 '1366507154': 'VT',
 '1750436689': 'NH',
 '1366489585': 'HI',
 '1649325127': 'AK',
 '1164582607': 'DC',
 '1578550265': 'RI',
 '1477565059': 'DC',
 '1255575619': 'ID',
 '1922366244': 'ZZ',
 '1245455286': 'WY',
 '1831201839': 'RI',
 '1215939715': 'NH',
 '1821098633': 'SD',
 '1710264015': 'RI',
 '1568599223': 'VT',
 '1851490999': 'NH',
 '1346249695': 'RI',
 '1407869795': 'NH',
 '1134118748': 'ND',
 '1396771937': 'RI',
 '1679515613': 'VT',
 '1427045301': 'RI',
 '1730168188': 'SD',
 '1760451660': 'SD',
 '1679670939': 'HI',
 '1841223450': 'HI',
 '1588615561': 'NH',
 '1548278146': 'DE',
 '1790758241': 'SD',
 '1992898977': 'RI',
 '1053355669': 'SD',
 '1578547212': 'RI',
 '1841296597': 'RI',
 '1902948516': 'ID',
 '1467416495': 'VT',
 '1548376809': 'WY',
 '1811961139': 'NH',
 '1609872399': 'RI',
 '1790870400': 'ID',
 '1831146877': 'RI',
 '1356397533': 'MT',
 '1376593269': 'HI',
 '1649216961': 'ID',
 '1841374030': 'ND',
 '1235243650': 'WY',
 '1841292562': 'VT',
 '1942370879': 'WY',
 '1114033040': 'HI',
 '1730299454': 'RI',
 '1801840525': 'HI',
 '1811008055': 'VI',
 '1851407092': 'WY',
 '1891780573': 'RI',
 '1982621074': 'NH',
 '1407811490': 'DE',
 '1215025648': 'ID',
 '1144456724': 'HI',
 '1255548442': 'MT',
 '1710972518': 'NH',
 '1821183617': 'ID',
 '1982718383': 'DC',
 '1225124936': 'ID',
 '1245295906': 'VT',
 '1396785978': 'SD',
 '1285674614': 'RI',
 '1487730768': 'WY',
 '1558309831': 'WY',
 '1598848301': 'HI',
 '1386740462': 'MT',
 '1891819017': 'VI',
 '1336185982': 'DC',
 '1538260179': 'MT',
 '1548240971': 'RI',
 '1568458222': 'AK',
 '1710904719': 'RI',
 '1720262629': 'AK',
 '1730265208': 'MT',
 '1477627982': 'ID',
 '1881652576': 'DE',
 '1871576645': 'VT',
 '1497756118': 'WY',
 '1790731107': 'NH',
 '1831130608': 'MT',
 '1851334817': 'ID',
 '1285815589': 'DC',
 '1043651235': 'MT',
 '1275582934': 'DE',
 '1376863944': 'MT',
 '1053420646': 'DC',
 '1952363780': 'ID',
 '1053698167': 'ID',
 '1013059476': 'RI',
 '1780954214': 'AK',
 '1346217718': 'HI',
 '1427334697': 'MT',
 '1144537945': 'MT',
 '1215046362': 'DC',
 '1285875385': 'SD',
 '1184600926': 'ND',
 '1356419642': 'NH',
 '1770653990': 'ID',
 '1386685816': 'VT',
 '1326099672': 'ID',
 '1215372479': 'DE',
 '1437446614': 'RI',
 '1255377784': 'NH',
 '1477536415': 'RI',
 '1073513982': 'ND',
 '1629045646': 'RI',
 '1720064454': 'NH',
 '1306157730': 'RI',
 '1053446112': 'DC',
 '1982965224': 'ND',
 '1487699971': 'SD',
 '1326029380': 'NH',
 '1750391652': 'SD',
 '1841365012': 'DE',
 '1376517268': 'SD',
 '1427017607': 'SD',
 '1467771204': 'DC',
 '1992727481': 'ND',
 '1659335081': 'NH',
 '1346301728': 'AK',
 '1578542213': 'ID',
 '1902182157': 'DC',
 '1710094321': 'RI',
 '1770902355': 'DC',
 '1073583217': 'NH',
 '1730131178': 'ID',
 '1780657791': 'WY',
 '1780655050': 'AE',
 '1902986987': 'SD',
 '1881665818': 'NH',
 '1952340358': 'AK',
 '1952398695': 'ND',
 '1669473443': 'SD',
 '1225130776': 'NH',
 '1417208802': 'RI',
 '1447534839': 'VT',
 '1588605620': 'ID',
 '1609872043': 'ND',
 '1497710883': 'VT',
 '1851494223': 'ID',
 '1003864778': 'NH',
 '1023132420': 'ID',
 '1619056728': 'NH',
 '1043242209': 'HI',
 '1902957020': 'VT',
 '1952566507': 'NH',
 '1053330472': 'RI',
 '1194816439': 'WY',
 '1497193940': 'RI',
 '1053452508': 'NH',
 '1114927431': 'RI',
 '1548238918': 'RI',
 '1184673113': 'VT',
 '1215008982': 'DC',
 '1134299100': 'SD',
 '1144301664': 'ID',
 '1306882881': 'NH',
 '1831145929': 'AK',
 '1124017629': 'SD',
 '1003922014': 'MT',
 '1003926452': 'RI',
 '1598788390': 'ND',
 '1689668089': 'AK',
 '1356490312': 'NH',
 '1851398085': 'NH',
 '1861539223': 'RI',
 '1174581516': 'VT',
 '1245476795': 'DC',
 '1053543660': 'ID',
 '1861599649': 'ND',
 '1174550032': 'NH',
 '1508825456': 'ID',
 '1740254150': 'RI',
 '1891839403': 'VT',
 '1528296902': 'NH',
 '1902832041': 'ND',
 '1578673208': 'DE',
 '1598853566': 'RI',
 '1114970076': 'DC',
 '1740360676': 'MT',
 '1386960268': 'SD',
 '1477680114': 'VI',
 '1205899556': 'NH',
 '1811088602': 'ND',
 '1679672125': 'MT',
 '1386727840': 'NH',
 '1033555941': 'ID',
 '1629069323': 'NH',
 '1083677934': 'VT',
 '1124079090': 'RI',
 '1568411585': 'HI',
 '1467749044': 'ID',
 '1003908757': 'HI',
 '1447231816': 'ID',
 '1043403447': 'GU',
 '1164439378': 'VT',
 '1558548826': 'AK',
 '1134215551': 'HI',
 '1174701973': 'HI',
 '1285815720': 'AK',
 '1518081645': 'DC',
 '1023033743': 'HI',
 '1164442174': 'VT',
 '1124081211': 'AK',
 '1356333843': 'VI',
 '1871530592': 'RI',
 '1134229610': 'NH',
 '1588681589': 'ND',
 '1487765848': 'AK',
 '1528260429': 'ID',
 '1154386043': 'SD',
 '1184694192': 'HI',
 '1386731065': 'ND',
 '1659446037': 'HI',
 '1356304133': 'VT',
 '1861587339': 'MT',
 '1467443168': 'NH',
 '1619916616': 'DE',
 '1619973690': 'VT',
 '1245348747': 'HI',
 '1386655710': 'RI',
 '1437116225': 'NH',
 '1679527105': 'MT',
 '1417040189': 'ND',
 '1316043771': 'VI',
 '1285633065': 'ID',
 '1184621138': 'RI',
 '1376639021': 'VT',
 '1427158989': 'VT',
 '1649367343': 'ND',
 '1407985278': 'ID',
 '1326089921': 'DC',
 '1477694420': 'ID',
 '1326090754': 'ID',
 '1487631032': 'ND',
 '1881651958': 'SD',
 '1932160900': 'MT',
 '1881655108': 'DC',
 '1336228246': 'ND',
 '1750385399': 'ND',
 '1982660544': 'HI',
 '1841298213': 'ID',
 '1922168012': 'MT',
 '1487689469': 'ND',
 '1720123250': 'RI',
 '1760464127': 'ID',
 '1235248899': 'NH',
 '1346536505': 'AK',
 '1477527489': 'AK',
 '1922094036': 'WY',
 '1578517751': 'RI',
 '1942280540': 'NH',
 '1194701615': 'VT',
 '1871688499': 'VT',
 '1649269184': 'VT',
 '1730125337': 'DC',
 '1285713321': 'NH',
 '1245516251': 'SD',
 '1346248507': 'ID',
 '1811257850': 'RI',
 '1780624601': 'RI',
 '1598859142': 'HI',
 '1124054655': 'AK',
 '1518998426': 'MT',
 '1184985723': 'HI',
 '1003840034': 'ID',
 '1902871486': 'RI',
 '1972551489': 'RI',
 '1134447741': 'VT',
 '1134124506': 'ID',
 '1134185515': 'ND',
 '1639431646': 'RI',
 '1205881984': 'RI',
 '1033116025': 'RI',
 '1043299720': 'MT',
 '1669483038': 'ND',
 '1962716001': 'ID',
 '1851633804': 'ND',
 '1336169036': 'WY',
 '1174729800': 'DC',
 '1194793703': 'VT',
 '1255626503': 'ID',
 '1487871927': 'RI',
 '1700977170': 'ID',
 '1316901275': 'ID',
 '1619276722': 'ID',
 '1174821383': 'AK',
 '1033184296': 'NH',
 '1629178157': 'HI',
 '1780784355': 'MT',
 '1396800520': 'RI',
 '1417959842': 'ID',
 '1437202876': 'NH',
 '1336183813': 'ID',
 '1790832756': 'MT',
 '1841464054': 'DE',
 '1215957295': 'VT',
 '1528138542': 'ND',
 '1699938456': 'WY',
 '1912916446': 'HI',
 '1932292414': 'MT',
 '1477796704': 'DC',
 '1558334888': 'HI',
 '1588671622': 'ID',
 '1740233071': 'WY',
 '1548594062': 'ID',
 '1780698357': 'RI',
 '1700134327': 'WY',
 '1144231457': 'NH',
 '1962432047': 'NH',
 '1598754988': 'VT',
 '1730238908': 'DE',
 '1942295183': 'NH',
 '1912172305': 'ND',
 '1760426548': 'NH',
 '1235136870': 'DE',
 '1285646737': 'HI',
 '1457309858': 'RI',
 '1720072747': 'ID',
 '1801995600': 'MT',
 '1417109760': 'ND',
 '1780910547': 'ID',
 '1790750123': 'RI',
 '1821304007': 'ID',
 '1053502955': 'ID',
 '1154319440': 'RI',
 '1578694162': 'DE',
 '1093844771': 'DE',
 '1083809206': 'SD',
 '1992712442': 'AK',
 '1265782114': 'NH',
 '1790744381': 'RI',
 '1689661050': 'ID',
 '1639158181': 'HI',
 '1386948156': 'NH',
 '1477661122': 'NH',
 '1952384927': 'WY',
 '1245394543': 'HI',
 '1629182282': 'ID',
 '1336407113': 'NH',
 '1689618688': 'RI',
 '1265864201': 'NH',
 '1750394979': 'VT',
 '1609887504': 'AK',
 '1730414640': 'RI',
 '1992884456': 'VT',
 '1144275512': 'ID',
 '1205270436': 'DE',
 '1366538969': 'WY',
 '1760709661': 'MT',
 '1346288263': 'WY',
 '1295825750': 'HI',
 '1417971698': 'NH',
 '1548233380': 'HI',
 '1619920311': 'SD',
 '1629028212': 'HI',
 '1972673416': 'HI',
 '1700076957': 'HI',
 '1932124682': 'DC',
 '1205811056': 'RI',
 '1376635268': 'HI',
 '1477539666': 'WY',
 '1023016094': 'WY',
 '1043261803': 'ID',
 '1033287313': 'HI',
 '1427011162': 'SD',
 '1285969790': 'DE',
 '1447390166': 'MT',
 '1316137045': 'HI',
 '1568496677': 'RI',
 '1982817433': 'DE',
 '1386621209': 'ND',
 '1982601589': 'RI',
 '1366533382': 'ND',
 '1295890903': 'NH',
 '1285845917': 'ND',
 '1376688150': 'SD',
 '1134197569': 'SD',
 '1477610178': 'DC',
 '1801934310': 'RI',
 '1063499804': 'ND',
 '1518278084': 'WY',
 '1841298536': 'WY',
 '1730288325': 'NH',
 '1942307723': 'ND',
 '1780764167': 'SD',
 '1710184155': 'HI',
 '1376507624': 'HI',
 '1710945829': 'MT',
 '1538270970': 'MT',
 '1013941939': 'NH',
 '1043640758': 'MT',
 '1396792800': 'NH',
 '1669588315': 'ID',
 '1013934975': 'ND',
 '1235304676': 'HI',
 '1457388290': 'ID',
 '1043342868': 'ID',
 '1053365122': 'ND',
 '1215064852': 'WY',
 '1508872615': 'RI',
 '1124097027': 'SD',
 '1063468981': 'NH',
 '1518243716': 'ID',
 '1588866719': 'RI',
 '1477578300': 'ID',
 '1255325601': 'VT',
 '1184713224': 'AK',
 '1710049903': 'HI',
 '1982770764': 'RI',
 '1194721241': 'MT',
 '1194758359': 'NH',
 '1255380341': 'MT',
 '1689740086': 'DC',
 '1518090596': 'DC',
 '1437249976': 'AK',
 '1326076555': 'NH',
 '1811966526': 'MT',
 '1790889152': 'ND',
 '1992722557': 'DC',
 '1083877963': 'RI',
 '1093818239': 'ID',
 '1104913052': 'ND',
 '1801928783': 'DE',
 '1366439598': 'WY',
 '1760461859': 'DE',
 '1255743233': 'ND',
 '1619046844': 'HI',
 '1558471342': 'HI',
 '1437148467': 'ID',
 '1619959236': 'SD',
 '1669583183': 'ND',
 '1043426034': 'ND',
 '1821309543': 'VT',
 '1245264688': 'RI',
 '1326141565': 'NH',
 '1689693152': 'NH',
 '1457480279': 'MT',
 '1962481432': 'NH',
 '1861437980': 'SD',
 '1699901769': 'DC',
 '1811162217': 'SD',
 '1902872971': 'NH',
 '1770504052': 'MT',
 '1679555866': 'HI',
 '1760448450': 'VT',
 '1770744880': 'ND',
 '1902074677': 'NH',
 '1609824283': 'MT',
 '1457583759': 'DE',
 '1497774848': 'NH',
 '1932243235': 'ND',
 '1588915565': 'RI',
 '1790711992': 'AK',
 '1689691412': 'NH',
 '1902982903': 'NH',
 '1972550424': 'DE',
 '1295992154': 'SD',
 '1427038751': 'NH',
 '1538271747': 'NH',
 '1326145418': 'MT',
 '1700172962': 'AK',
 '1588617492': 'HI',
 '1700189834': 'ID',
 '1912277609': 'RI',
 '1720346075': 'MT',
 '1932126604': 'ND',
 '1689605073': 'VT',
 '1952565889': 'RI',
 '1598933525': 'ID',
 '1104874320': 'RI',
 '1891801726': 'AK',
 '1730237876': 'MT',
 '1730281668': 'VT',
 '1598009441': 'MT',
 '1255326252': 'NH',
 '1609800788': 'MT',
 '1437150422': 'RI',
 '1518989367': 'RI',
 '1952307605': 'ID',
 '1013060698': 'HI',
 '1295020618': 'SD',
 '1114194073': 'HI',
 '1477516912': 'RI',
 '1043326978': 'RI',
 '1225012420': 'NH',
 '1134127087': 'SD',
 '1790787729': 'HI',
 '1215189634': 'WY',
 '1942235999': 'NH',
 '1841498052': 'ND',
 '1407049422': 'ID',
 '1073720983': 'ND',
 '1336578459': 'HI',
 '1275971038': 'RI',
 '1720180367': 'RI',
 '1366640351': 'VT',
 '1972681831': 'MT',
 '1851380125': 'ND',
 '1942351291': 'DC',
 '1003915091': 'DE',
 '1669479168': 'SD',
 '1023094893': 'NH',
 '1053355727': 'MT',
 '1073833828': 'AK',
 '1770810814': 'MT',
 '1134180128': 'DC',
 '1184694804': 'NH',
 '1366492290': 'NH',
 '1316055320': 'ID',
 '1710964531': 'SD',
 '1265494868': 'GU',
 '1891759197': 'MT',
 '1194754630': 'NH',
 '1760592125': 'ID',
 '1073556650': 'HI',
 '1407174279': 'ND',
 '1770529844': 'SD',
 '1437169604': 'NH',
 '1760429799': 'WY',
 '1609023290': 'SD',
 '1740339159': 'WY',
 '1770673824': 'DC',
 '1508920307': 'HI',
 '1598869067': 'HI',
 '1154526549': 'ID',
 '1740289776': 'NH',
 '1982681151': 'AK',
 '1639105968': 'MT',
 '1659419448': 'ID',
 '1477741726': 'HI',
 '1497962229': 'HI',
 '1093702110': 'RI',
 '1144219775': 'HI',
 '1295718013': 'WY',
 '1013903640': 'HI',
 '1306059910': 'VT',
 '1982961611': 'VT',
 '1285846253': 'VT',
 '1033462569': 'HI',
 '1851443428': 'VT',
 '1184689465': 'AK',
 '1639188352': 'VT',
 '1649331745': 'NH',
 '1104914530': 'ND',
 '1972651529': 'RI',
 '1174578025': 'ID',
 '1891852851': 'DC',
 '1942568225': 'DC',
 '1477626802': 'HI',
 '1205851979': 'RI',
 '1528093119': 'DE',
 '1679561930': 'DC',
 '1760805493': 'RI',
 '1972686467': 'SD',
 '1720021595': 'NH',
 '1558348649': 'ID',
 '1144208349': 'MT',
 '1184852790': 'NH',
 '1144326497': 'HI',
 '1689644098': 'SD',
 '1386698363': 'ID',
 '1679790059': 'RI',
 '1831388123': 'DE',
 '1689699175': 'RI',
 '1255376455': 'RI',
 '1932116787': 'HI',
 '1114944832': 'HI',
 '1295732709': 'SD',
 '1588987309': 'ID',
 '1700046927': 'WY',
 '1568465797': 'WY',
 '1629333893': 'WY',
 '1619063609': 'DC',
 '1467501882': 'RI',
 '1891889879': 'ND',
 '1811143233': 'SD',
 '1871767848': 'NH',
 '1942399522': 'WY',
 '1417033408': 'NH',
 '1912059221': 'NH',
 '1083881262': 'WY',
 '1942203419': 'SD',
 '1255486221': 'DC',
 '1518968478': 'MT',
 '1508911603': 'DC',
 '1831188119': 'ND',
 '1831321348': 'ID',
 '1992808950': 'DC',
 '1770562407': 'NH',
 '1194807040': 'VT',
 '1265429229': 'NH',
 '1003825860': 'NH',
 '1174789499': 'MT',
 '1376858043': 'DE',
 '1467464495': 'RI',
 '1518923085': 'SD',
 '1447299037': 'MT',
 '1952387714': 'NH',
 '1215994306': 'RI',
 '1376548107': 'SD',
 '1447204995': 'ID',
 '1356694384': 'ID',
 '1992797088': 'ID',
 '1881778553': 'SD',
 '1467557009': 'HI',
 '1568419539': 'RI',
 '1386679397': 'HI',
 '1285639104': 'HI',
 '1235221664': 'ND',
 '1134224512': 'MT',
 '1598824369': 'HI',
 '1497853147': 'ND',
 '1144275694': 'ID',
 '1215984638': 'ID',
 '1811079585': 'NH',
 '1063412534': 'ID',
 '1154393486': 'RI',
 '1609977891': 'ID',
 '1215086152': 'GU',
 '1003866765': 'ID',
 '1356327886': 'VI',
 '1104991652': 'NH',
 '1811979099': 'MT',
 '1093879884': 'HI',
 '1386801983': 'DC',
 '1720144520': 'AK',
 '1366438822': 'DE',
 '1821020686': 'MT',
 '1295786358': 'NH',
 '1346307097': 'HI',
 '1699829127': 'HI',
 '1518195841': 'NH',
 '1477712057': 'RI',
 '1902007420': 'HI',
 '1205034311': 'RI',
 '1265417836': 'RI',
 '1104089556': 'ID',
 '1790075869': 'VT',
 '1366695736': 'AK',
 '1144337825': 'NH',
 '1033276209': 'HI',
 '1720039704': 'VT',
 '1518904598': 'ID',
 '1427068907': 'AK',
 '1023063849': 'RI',
 '1679574487': 'ID',
 '1720028533': 'HI',
 '1518984541': 'VT',
 '1164597480': 'ND',
 '1144483215': 'ND',
 '1659675965': 'AK',
 '1285639971': 'HI',
 '1386951481': 'MT',
 '1861450116': 'WY',
 '1104997360': 'AK',
 '1083856439': 'HI',
 '1245662535': 'NH',
 '1548557218': 'ID',
 '1902807860': 'MT',
 '1447227293': 'ID',
 '1780974113': 'NH',
 '1790749836': 'WY',
 '1609863125': 'RI',
 '1306875174': 'ID',
 '1467428995': 'SD',
 '1750356465': 'SD',
 '1962443523': 'NH',
 '1831109933': 'HI',
 '1477528891': 'SD',
 '1962431825': 'ID',
 '1811936925': 'HI',
 '1467459263': 'RI',
 '1548297625': 'MT',
 '1487853404': 'MT',
 '1134390941': 'ND',
 '1184701658': 'DE',
 '1942393988': 'NH',
 '1265514582': 'ID',
 '1528192986': 'NH',
 '1417197435': 'DC',
 '1487645750': 'DC',
 '1912014499': 'SD',
 '1902121932': 'MT',
 '1669475422': 'NH',
 '1659324499': 'ID',
 '1619169299': 'ID',
 '1134124134': 'WY',
 '1407945918': 'SD',
 '1386626174': 'RI',
 '1831342666': 'RI',
 '1598796922': 'RI',
 '1760414049': 'HI',
 '1902891484': 'ID',
 '1093088833': 'RI',
 '1932286135': 'HI',
 '1316015696': 'DE',
 '1194063503': 'ND',
 '1679670251': 'WY',
 '1801964804': 'MT',
 '1407902919': 'ND',
 '1396092201': 'NH',
 '1710958061': 'AK',
 '1053375832': 'RI',
 '1295756765': 'RI',
 '1760668933': 'HI',
 '1518916410': 'VT',
 '1790885994': 'HI',
 '1467611772': 'DE',
 '1265472781': 'ID',
 '1164441242': 'DE',
 '1679669824': 'DC',
 '1760488209': 'SD',
 '1356302319': 'NH',
 '1508843327': 'SD',
 '1235121807': 'AK',
 '1215285093': 'SD',
 '1033290978': 'WY',
 '1871793091': 'SD',
 '1578524559': 'ID',
 '1841297033': 'RI',
 '1982660858': 'DC',
 '1093894438': 'RI',
 '1235177577': 'ND',
 '1104807858': 'SD',
 '1083615066': 'SD',
 '1760461388': 'SD',
 '1316247596': 'NH',
 '1932301918': 'HI',
 '1902232564': 'NH',
 '1346405602': 'ND',
 '1659385250': 'SD',
 '1447328620': 'HI',
 '1225030521': 'ND',
 '1972504850': 'MT',
 '1649266966': 'VT',
 '1043621576': 'AK',
 '1003963174': 'DE',
 '1508884016': 'ND',
 '1083660187': 'DE',
 '1003859422': 'NH',
 '1063459428': 'MP',
 '1043567100': 'SD',
 '1003009804': 'HI',
 '1154632578': 'HI',
 '1669428967': 'ID',
 '1740283555': 'ID',
 '1275615494': 'WY',
 '1043316524': 'ND',
 '1114964301': 'RI',
 '1194915397': 'MT',
 '1073894788': 'DE',
 '1285731133': 'MT',
 '1154368926': 'RI',
 '1144258534': 'ID',
 '1154367845': 'WY',
 '1457319121': 'SD',
 '1336144682': 'NH',
 '1215951181': 'DC',
 '1578583142': 'VT',
 '1417918921': 'SD',
 '1861411126': 'ID',
 '1174757140': 'ID',
 '1437133352': 'VT',
 '1154756435': 'DE',
 '1750594818': 'AK',
 '1639274129': 'NH',
 '1881917375': 'DC',
 '1861751729': 'DE',
 '1659460632': 'HI',
 '1376537449': 'HI',
 '1396938197': 'SD',
 '1720071095': 'VT',
 '1316908650': 'VT',
 '1871540187': 'MT',
 '1588781223': 'NH',
 '1770542631': 'VT',
 '1154626323': 'ID',
 '1730121849': 'WY',
 '1639272644': 'ID',
 '1275960510': 'DE',
 '1154317246': 'NH',
 '1629040647': 'DE',
 '1417027988': 'ND',
 '1588682884': 'DE',
 '1275540247': 'HI',
 '1750441820': 'AK',
 '1215119532': 'NH',
 '1821127036': 'ND',
 '1235443995': 'HI',
 '1841432929': 'VT',
 '1386681427': 'ID',
 '1578578183': 'AK',
 '1750327979': 'WY',
 '1790722098': 'RI',
 '1760555908': 'MT',
 '1649212770': 'AK',
 '1982609814': 'NH',
 '1750521746': 'AK',
 '1588007843': 'ID',
 '1225205008': 'DE',
 '1255390290': 'RI',
 '1306937107': 'ND',
 '1275604316': 'ND',
 '1427091628': 'DC',
 '1265416119': 'NH',
 '1558498717': 'SD',
 '1528154697': 'VT',
 '1609876127': 'ND',
 '1073549580': 'NH',
 '1003900457': 'MT',
 '1861429201': 'SD',
 '1407816986': 'ID',
 '1225059843': 'WY',
 '1972640225': 'WY',
 '1215154075': 'NH',
 '1326007899': 'SD',
 '1972619617': 'VT',
 '1013019793': 'WY',
 '1497839419': 'DE',
 '1144284498': 'VT',
 '1700820115': 'VT',
 '1861434037': 'MT',
 '1427055284': 'RI',
 '1073535019': 'MT',
 '1841556925': 'DC',
 '1013906049': 'ID',
 '1023129491': 'RI',
 '1366474918': 'ID',
 '1710960786': 'WY',
 '1770642910': 'DC',
 '1902902075': 'NH',
 '1205836863': 'VT',
 '1265496202': 'HI',
 '1134129257': 'RI',
 '1245295260': 'DE',
 '1538259502': 'NH',
 '1447549324': 'DC',
 '1558386243': 'HI',
 '1700809670': 'VI',
 '1255419602': 'RI',
 '1831327642': 'RI',
 '1437234598': 'HI',
 '1790917052': 'ND',
 '1649232448': 'MT',
 '1720074073': 'RI',
 '1639169741': 'NH',
 '1093828014': 'DE',
 '1093781874': 'SD',
 '1700935145': 'VT',
 '1306959911': 'NH',
 '1114227436': 'RI',
 '1053329490': 'ID',
 '1194743765': 'ND',
 '1487640991': 'VT',
 '1811052426': 'MT',
 '1831490408': 'NH',
 '1891120143': 'RI',
 '1013987478': 'SD',
 '1164571386': 'SD',
 '1194704221': 'DE',
 '1306812300': 'ID',
 '1710271697': 'WY',
 '1619915311': 'HI',
 '1912958745': 'SD',
 '1568410025': 'ID',
 '1578873774': 'WY',
 '1669624912': 'ND',
 '1982695151': 'MT',
 '1730189325': 'SD',
 '1245383108': 'ND',
 '1760654487': 'ID',
 '1649236084': 'AK',
 '1720081391': 'DE',
 '1902826316': 'RI',
 '1346246279': 'SD',
 '1831143692': 'ID',
 '1427075290': 'VT',
 '1740221035': 'NH',
 '1013009950': 'NH',
 '1225154453': 'MT',
 '1790715654': 'RI',
 '1619970746': 'NH',
 '1568534097': 'HI',
 '1245389576': 'RI',
 '1619059425': 'RI',
 '1457443673': 'VT',
 '1013161512': 'DE',
 '1144319229': 'HI',
 '1437401247': 'SD',
 '1124061262': 'ID',
 '1174526503': 'MT',
 '1366542060': 'HI',
 '1316966062': 'DC',
 '1538208806': 'ND',
 '1114982758': 'VT',
 '1336136852': 'RI',
 '1063584951': 'DC',
 '1447392659': 'DC',
 '1497859987': 'MT',
 '1295981801': 'MT',
 '1952699282': 'ND',
 '1174617732': 'ND',
 '1104982909': 'AK',
 '1396984381': 'NH',
 '1265599393': 'RI',
 '1912015074': 'ID',
 '1033182795': 'RI',
 '1245238468': 'WY',
 '1033205547': 'MT',
 '1093798910': 'RI',
 '1285722314': 'RI',
 '1326250705': 'DC',
 '1336188267': 'ID',
 '1255561577': 'VI',
 '1265402168': 'HI',
 '1124151683': 'DC',
 '1245277953': 'RI',
 '1134149958': 'WY',
 '1790754919': 'RI',
 '1154393742': 'SD',
 '1356577555': 'HI',
 '1306825864': 'SD',
 '1346294592': 'ND',
 '1164463113': 'ID',
 '1144338260': 'RI',
 '1326291311': 'DC',
 '1407944473': 'NH',
 '1164424123': 'RI',
 '1104928670': 'ID',
 '1134403439': 'RI',
 '1033476718': 'DC',
 '1245309020': 'HI',
 '1124186333': 'DC',
 '1306948286': 'RI',
 '1588716914': 'MT',
 '1548314164': 'HI',
 '1609047307': 'NH',
 '1164437513': 'DE',
 '1245203132': 'SD',
 '1780671909': 'VI',
 '1760432850': 'NH',

In [105]:
#This is the dictionary to get the first and second columns all rows to then map it 
part_d_a_dict2 = {row[0]: row[1] for k, row in part_d_a.iterrows()}
part_d_a_dict2

{'1598870164': 'HONOLULU',
 '1053306662': 'SARATOGA',
 '1023026937': 'ST THOMAS',
 '1689692592': 'EAST PROVIDENCE',
 '1922083104': 'DUNBARTON',
 '1265405864': 'SPEARFISH',
 '1366519563': 'LANDER',
 '1366507154': 'BARRE',
 '1750436689': 'NEW LONDON',
 '1366489585': 'EWA BEACH',
 '1649325127': 'ANCHORAGE',
 '1164582607': 'WASHINGTON',
 '1578550265': 'EAST PROVIDENCE',
 '1477565059': 'WASHINGTON',
 '1255575619': 'TWIN FALLS',
 '1922366244': 'IRBID',
 '1245455286': 'CHEYENNE',
 '1831201839': 'NORTH PROVIDENCE',
 '1215939715': 'DERRY',
 '1821098633': 'SIOUX FALLS',
 '1710264015': 'WARWICK',
 '1568599223': 'RUTLAND',
 '1851490999': 'HENNIKER',
 '1346249695': 'PROVIDENCE',
 '1407869795': 'NASHUA',
 '1134118748': 'UNDERWOOD',
 '1396771937': 'WAKEFIELD',
 '1679515613': 'NEWBURY',
 '1427045301': 'LINCOLN',
 '1730168188': 'ESTELLINE',
 '1760451660': 'DELL RAPIDS',
 '1679670939': 'HONOLULU',
 '1841223450': 'HONOLULU',
 '1588615561': 'MILFORD',
 '1548278146': 'NEWARK',
 '1790758241': 'SIOUX FALLS',
 '1992898977': 'PROVIDENCE',
 '1053355669': 'TYNDALL',
 '1578547212': 'PAWTUCKET',
 '1841296597': 'LINCOLN',
 '1902948516': 'MCCALL',
 '1467416495': 'CONCORD',
 '1548376809': 'JACKSON',
 '1811961139': 'GREENFIELD',
 '1609872399': 'WARWICK',
 '1790870400': 'POCATELLO',
 '1831146877': 'PROVIDENCE',
 '1356397533': 'KALISPELL',
 '1376593269': 'HONOLULU',
 '1649216961': 'TWIN FALLS',
 '1841374030': 'PARK RIVER',
 '1235243650': 'ARAPAHOE',
 '1841292562': 'LYNDONVILLE',
 '1942370879': 'WORLAND',
 '1114033040': 'WAHIAWA',
 '1730299454': 'LINCOLN',
 '1801840525': 'HILO',
 '1811008055': 'ST. THOMAS',
 '1851407092': 'TORRINGTON',
 '1891780573': 'CRANSTON',
 '1982621074': 'LACONIA',
 '1407811490': 'GEORGETOWN',
 '1215025648': 'IDAHO FALLS',
 '1144456724': 'HILO',
 '1255548442': 'KALISPELL',
 '1710972518': 'SALEM',
 '1821183617': 'WEISER',
 '1982718383': 'WASHINGTON',
 '1225124936': 'POCATELLO',
 '1245295906': 'SHAFTSBURY',
 '1396785978': 'RAPID CITY',
 '1285674614': 'WAKEFIELD',
 '1487730768': 'CODY',
 '1558309831': 'SHERIDAN',
 '1598848301': 'HONOLULU',
 '1386740462': 'ST IGNATIUS',
 '1891819017': 'KINGSHILL',
 '1336185982': 'WASHINGTON',
 '1538260179': 'HELENA',
 '1548240971': 'EAST GREENWICH',
 '1568458222': 'ANCHORAGE',
 '1710904719': 'JOHNSTON',
 '1720262629': 'PALMER',
 '1730265208': 'HAMILTON',
 '1477627982': 'BLACKFOOT',
 '1881652576': 'NEWARK',
 '1871576645': 'DERBY',
 '1497756118': 'RAWLINS',
 '1790731107': 'SOMERSWORTH',
 '1831130608': 'MISSOULA',
 '1851334817': 'BURLEY',
 '1285815589': 'WASHINGTON',
 '1043651235': 'SHELBY',
 '1275582934': 'WILMINGTON',
 '1376863944': 'KALISPELL',
 '1053420646': 'WASHINGTON',
 '1952363780': 'COEUR D ALENE',
 '1053698167': 'BOISE',
 '1013059476': 'WARWICK',
 '1780954214': 'KAKE',
 '1346217718': 'HONOLULU',
 '1427334697': 'KALISPELL',
 '1144537945': 'KALISPELL',
 '1215046362': 'WASHINGTON',
 '1285875385': 'HAYTI',
 '1184600926': 'WILLISTON',
 '1356419642': 'LEBANON',
 '1770653990': 'SHOSHONE',
 '1386685816': 'MORRISVILLE',
 '1326099672': 'KELLOGG',
 '1215372479': 'GEORGETOWN',
 '1437446614': 'WARWICK',
 '1255377784': 'LEBANON',
 '1477536415': 'PAWTUCKET',
 '1073513982': 'NORTHWOOD',
 '1629045646': 'JAMESTOWN',
 '1720064454': 'NASHUA',
 '1306157730': 'JOHNSTON',
 '1053446112': 'WASHINGTON',
 '1982965224': 'JAMESTOWN',
 '1487699971': 'SIOUX FALLS',
 '1326029380': 'NEWINGTON',
 '1750391652': 'SIOUX FALLS',
 '1841365012': 'WILMINGTON',
 '1376517268': 'RAPID CITY',
 '1427017607': 'GREGORY',
 '1467771204': 'WASHINGTON',
 '1992727481': 'FARGO',
 '1659335081': 'MANCHESTER',
 '1346301728': 'SITKA',
 '1578542213': 'BURLEY',
 '1902182157': 'WASHINGTON',
 '1710094321': 'CUMBERLAND',
 '1770902355': 'WASHINGTON',
 '1073583217': 'CONCORD',
 '1730131178': 'BOISE',
 '1780657791': 'ROCK SPRINGS',
 '1780655050': 'FPO',
 '1902986987': 'ABERDEEN',
 '1881665818': 'KEENE',
 '1952340358': 'ANCHORAGE',
 '1952398695': 'GRAND FORKS',
 '1669473443': 'YANKTON',
 '1225130776': 'PORTSMOUTH',
 '1417208802': 'PAWTUCKET',
 '1447534839': 'RUTLAND',
 '1588605620': 'COEUR D ALENE',
 '1609872043': 'DICKINSON',
 '1497710883': 'ST JOHNSBURY',
 '1851494223': 'BOISE',
 '1003864778': 'PORTSMOUTH',
 '1023132420': 'BOISE',
 '1619056728': 'NASHUA',
 '1043242209': 'WAILUKU',
 '1902957020': 'COLCHESTER',
 '1952566507': 'NASHUA',
 '1053330472': 'PROVIDENCE',
 '1194816439': 'CODY',
 '1497193940': 'PAWTUCKET',
 '1053452508': 'NASHUA',
 '1114927431': 'WOONSOCKET',
 '1548238918': 'EAST PROVIDENCE',
 '1184673113': 'BENNINGTON',
 '1215008982': 'WASHINGTON',
 '1134299100': 'REVILLO',
 '1144301664': 'MCCALL',
 '1306882881': 'CONCORD',
 '1831145929': 'ANCHORAGE',
 '1124017629': 'RAPID CITY',
 '1003922014': 'PLAINS',
 '1003926452': 'NORTH PROVIDENCE',
 '1598788390': 'BISMARCK',
 '1689668089': 'FAIRBANKS',
 '1356490312': 'LITTLETON',
 '1851398085': 'FARMINGTON',
 '1861539223': 'PROVIDENCE',
 '1174581516': 'BURLINGTON',
 '1245476795': 'WASHINGTON',
 '1053543660': 'MERIDIAN',
 '1861599649': 'GRAND FORKS',
 '1174550032': 'PETERBOROUGH',
 '1508825456': 'BOISE',
 '1740254150': 'EAST PROVIDENCE',
 '1891839403': 'BRADFORD',
 '1528296902': 'PORTSMOUTH',
 '1902832041': 'MINOT',
 '1578673208': 'WILMINGTON',
 '1598853566': 'PAWTUCKET',
 '1114970076': 'WASHINGTON',
 '1740360676': 'KALISPELL',
 '1386960268': 'SIOUX FALLS',
 '1477680114': 'CHRISTIANSTED',
 '1205899556': 'KINGSTON',
 '1811088602': 'GRAND FORKS',
 '1679672125': 'WARM SPRINGS',
 '1386727840': 'NASHUA',
 '1033555941': 'COEUR D ALENE',
 '1629069323': 'RAYMOND',
 '1083677934': 'BURLINGTON',
 '1124079090': 'WESTERLY',
 '1568411585': 'HONOLULU',
 '1467749044': 'IDAHO FALLS',
 '1003908757': 'HONOLULU',
 '1447231816': 'SODA SPRINGS',
 '1043403447': 'TAMUNING',
 '1164439378': 'RUTLAND',
 '1558548826': 'BETHEL',
 '1134215551': 'KAHULUI',
 '1174701973': 'HONOLULU',
 '1285815720': 'ST PAUL ISLAND',
 '1518081645': 'WASHINGTON',
 '1023033743': 'AIEA',
 '1164442174': 'BOMOSEEN',
 '1124081211': 'WASILLA',
 '1356333843': 'ST THOMAS',
 '1871530592': 'WARWICK',
 '1134229610': 'LEBANON',
 '1588681589': 'WEST FARGO',
 '1487765848': 'ANCHORAGE',
 '1528260429': 'KELLOGG',
 '1154386043': 'MILLER',
 '1184694192': 'HONOLULU',
 '1386731065': 'LINTON',
 '1659446037': 'HONOLULU',
 '1356304133': 'ST JOHNSBURY',
 '1861587339': 'KALISPELL',
 '1467443168': 'RAYMOND',
 '1619916616': 'WILMINGTON',
 '1619973690': 'BENNINGTON',
 '1245348747': 'HONOLULU',
 '1386655710': 'EAST PROVIDENCE',
 '1437116225': 'DERRY',
 '1679527105': 'HAMILTON',
 '1417040189': 'FARGO',
 '1316043771': 'ST. THOMAS',
 '1285633065': 'POCATELLO',
 '1184621138': 'WOONSOCKET',
 '1376639021': 'ESSEX JCT.',
 '1427158989': 'BURLINGTON',
 '1649367343': 'DICKINSON',
 '1407985278': 'TWIN FALLS',
 '1326089921': 'WASHINGTON',
 '1477694420': 'MERIDIAN',
 '1326090754': 'KELLOGG',
 '1487631032': 'CARRINGTON',
 '1881651958': 'SIOUX FALLS',
 '1932160900': 'MISSOULA',
 '1881655108': 'WASHINGTON',
 '1336228246': 'FARGO',
 '1750385399': 'BOWMAN',
 '1982660544': 'HONOLULU',
 '1841298213': 'MOSCOW',
 '1922168012': 'BROWNING',
 '1487689469': 'FARGO',
 '1720123250': 'CUMBERLAND',
 '1760464127': 'AMERICAN FALLS',
 '1235248899': 'CONCORD',
 '1346536505': 'PETERSBURG',
 '1477527489': 'ANCHORAGE',
 '1922094036': 'GILLETTE',
 '1578517751': 'PROVIDENCE',
 '1942280540': 'ALTON',
 '1194701615': 'NORTHFIELD',
 '1871688499': 'NEWPORT',
 '1649269184': 'MIDDLEBURY',
 '1730125337': 'WASHINGTON',
 '1285713321': 'JAFFREY',
 '1245516251': 'MARTIN',
 '1346248507': 'POST FALLS',
 '1811257850': 'PROVIDENCE',
 '1780624601': 'PROVIDENCE',
 '1598859142': 'HONOLULU',
 '1124054655': 'ANCHORAGE',
 '1518998426': 'BUTTE',
 '1184985723': 'HONOLULU',
 '1003840034': 'COEUR D ALENE',
 '1902871486': 'NORTH PROVIDENCE',
 '1972551489': 'WARWICK',
 '1134447741': 'BURLINGTON',
 '1134124506': 'POST FALLS',
 '1134185515': 'BISMARCK',
 '1639431646': 'PROVIDENCE',
 '1205881984': 'WAKEFIELD',
 '1033116025': 'WARWICK',
 '1043299720': 'HELENA',
 '1669483038': 'FARGO',
 '1962716001': 'KELLOGG',
 '1851633804': 'BISMARCK',
 '1336169036': 'JACKSON',
 '1174729800': 'WASHINGTON',
 '1194793703': 'SWANTON',
 '1255626503': 'POCATELLO',
 '1487871927': 'WAKEFIELD',
 '1700977170': 'OSBURN',
 '1316901275': 'MERIDIAN',
 '1619276722': 'IDAHO FALLS',
 '1174821383': 'ANCHORAGE',
 '1033184296': 'LACONIA',
 '1629178157': 'HONOLULU',
 '1780784355': 'BILLINGS',
 '1396800520': 'PROVIDENCE',
 '1417959842': 'BOISE',
 '1437202876': 'LEBANON',
 '1336183813': 'TWIN FALLS',
 '1790832756': 'BILLINGS',
 '1841464054': 'MILLSBORO',
 '1215957295': 'BOMOSEEN',
 '1528138542': 'PARK RIVER',
 '1699938456': 'TORRINGTON',
 '1912916446': 'HONOLULU',
 '1932292414': 'BILLINGS',
 '1477796704': 'WASHINGTON',
 '1558334888': 'HONOLULU',
 '1588671622': 'RUPERT',
 '1740233071': 'CASPER',
 '1548594062': 'IDAHO FALLS',
 '1780698357': 'PROVIDENCE',
 '1700134327': 'CHEYENNE',
 '1144231457': 'MANCHESTER',
 '1962432047': 'CONCORD',
 '1598754988': 'BRANDON',
 '1730238908': 'NEWARK',
 '1942295183': 'NORTH CONWAY',
 '1912172305': 'OAKES',
 '1760426548': 'LACONIA',
 '1235136870': 'HOCKESSIN',
 '1285646737': 'WAILUKU',
 '1457309858': 'PROVIDENCE',
 '1720072747': 'MOUNTAIN HOME',
 '1801995600': 'BILLINGS',
 '1417109760': 'VALLEY CITY',
 '1780910547': 'BONNERS FERRY',
 '1790750123': 'NORTH PROVIDENCE',
 '1821304007': 'MOUNTAIN HOME',
 '1053502955': 'CHUBBUCK',
 '1154319440': 'PORTSMOUTH',
 '1578694162': 'WILMINGTON',
 '1093844771': 'WILMINGTON',
 '1083809206': 'LAKE ANDES',
 '1992712442': 'WASILLA',
 '1265782114': 'LANCASTER',
 '1790744381': 'WESTERLY',
 '1689661050': 'PONDERAY',
 '1639158181': 'HONOLULU',
 '1386948156': 'SOMERSWORTH',
 '1477661122': 'KEENE',
 '1952384927': 'CHEYENNE',
 '1245394543': 'HONOLULU',
 '1629182282': 'REXBURG',
 '1336407113': 'LEBANON',
 '1689618688': 'WARWICK',
 '1265864201': 'BEDFORD',
 '1750394979': 'WILLISTON',
 '1609887504': 'KODIAK',
 '1730414640': 'WAKEFIELD',
 '1992884456': 'LYNDON',
 '1144275512': 'CALDWELL',
 '1205270436': 'NEWARK',
 '1366538969': 'LANDER',
 '1760709661': 'HAVRE',
 '1346288263': 'CODY',
 '1295825750': 'KIHEI',
 '1417971698': 'KEENE',
 '1548233380': 'KAILUA KONA',
 '1619920311': 'SIOUX FALLS',
 '1629028212': 'HONOLULU',
 '1972673416': 'KAILUA',
 '1700076957': 'PAHALA',
 '1932124682': 'WASHINGTON',
 '1205811056': 'PROVIDENCE',
 '1376635268': 'KAMUELA',
 '1477539666': 'CASPER',
 '1023016094': 'CASPER',
 '1043261803': 'BOISE',
 '1033287313': 'HONOLULU',
 '1427011162': 'RAPID CITY',
 '1285969790': 'LEWES',
 '1447390166': 'ST IGNATIUS',
 '1316137045': 'HONOLULU',
 '1568496677': 'PROVIDENCE',
 '1982817433': 'WILMINGTON',
 '1386621209': 'GRAFTON',
 '1982601589': 'EAST GREENWICH',
 '1366533382': 'BISMARCK',
 '1295890903': 'MEREDITH',
 '1285845917': 'GRAND FORKS',
 '1376688150': 'DAKOTA DUNES',
 '1134197569': 'STURGIS',
 '1477610178': 'WASHINGTON',
 '1801934310': 'MIDDLETOWN',
 '1063499804': 'CARRINGTON',
 '1518278084': 'CHEYENNE',
 '1841298536': 'CASPER',
 '1730288325': 'NASHUA',
 '1942307723': 'GRAND FORKS',
 '1780764167': 'WINNER',
 '1710184155': 'HILO',
 '1376507624': 'AIEA',
 '1710945829': 'WHITEFISH',
 '1538270970': 'WHITEFISH',
 '1013941939': 'PORTSMOUTH',
 '1043640758': 'PLAINS',
 '1396792800': 'PLYMOUTH',
 '1669588315': 'BOISE',
 '1013934975': 'FARGO',
 '1235304676': 'AIEA',
 '1457388290': 'BOISE',
 '1043342868': 'POCATELLO',
 '1053365122': 'JAMESTOWN',
 '1215064852': 'CASPER',
 '1508872615': 'WESTERLY',
 '1124097027': 'DELL RAPIDS',
 '1063468981': 'PORTSMOUTH',
 '1518243716': 'SANDPOINT',
 '1588866719': 'EAST GREENWICH',
 '1477578300': 'IDAHO FALLS',
 '1255325601': 'BURLINGTON',
 '1184713224': 'ANCHORAGE',
 '1710049903': 'WAHIAWA',
 '1982770764': 'CRANSTON',
 '1194721241': 'BROWNING',
 '1194758359': 'KEENE',
 '1255380341': 'WHITEFISH',
 '1689740086': 'WASHINGTON',
 '1518090596': 'WASHINGTON',
 '1437249976': 'KOTZEBUE',
 '1326076555': 'PORTSMOUTH',
 '1811966526': 'WHITEFISH',
 '1790889152': 'WEST FARGO',
 '1992722557': 'WASHINGTON',
 '1083877963': 'PROVIDENCE',
 '1093818239': 'POCATELLO',
 '1104913052': 'MINOT',
 '1801928783': 'WILMINGTON',
 '1366439598': 'CHEYENNE',
 '1760461859': 'MIDDLETOWN',
 '1255743233': 'BISMARCK',
 '1619046844': 'HILO',
 '1558471342': 'KAILUA',
 '1437148467': 'NAMPA',
 '1619959236': 'ABERDEEN',
 '1669583183': 'VALLEY CITY',
 '1043426034': 'FARGO',
 '1821309543': 'RUTLAND',
 '1245264688': 'NARRAGANSETT',
 '1326141565': 'BEDFORD',
 '1689693152': 'SOMERSWORTH',
 '1457480279': 'LIBBY',
 '1962481432': 'ROCHESTER',
 '1861437980': 'SIOUX FALLS',
 '1699901769': 'WASHINGTON',
 '1811162217': 'ROSEBUD',
 '1902872971': 'LITTLETON',
 '1770504052': 'BILLINGS',
 '1679555866': 'HILO',
 '1760448450': 'WINDSOR',
 '1770744880': 'GRAND FORKS',
 '1902074677': 'KEENE',
 '1609824283': 'WHITEFISH',
 '1457583759': 'MILLSBORO',
 '1497774848': 'CLAREMONT',
 '1932243235': 'FARGO',
 '1588915565': 'EAST GREENWICH',
 '1790711992': 'KETCHIKAN',
 '1689691412': 'NASHUA',
 '1902982903': 'PLYMOUTH',
 '1972550424': 'DOVER',
 '1295992154': 'SIOUX FALLS',
 '1427038751': 'MANCHESTER',
 '1538271747': 'CONWAY',
 '1326145418': 'MISSOULA',
 '1700172962': 'ANCHORAGE',
 '1588617492': 'HONOLULU',
 '1700189834': 'IDAHO FALLS',
 '1912277609': 'PROVIDENCE',
 '1720346075': 'GLASGOW',
 '1932126604': 'FARGO',
 '1689605073': 'SOUTH BURLINGTON',
 '1952565889': 'WESTERLY',
 '1598933525': 'BOISE',
 '1104874320': 'COVENTRY',
 '1891801726': 'FAIRBANKS',
 '1730237876': 'GREAT FALLS',
 '1730281668': 'BERLIN',
 '1598009441': 'GLENDIVE',
 '1255326252': 'MANCHESTER',
 '1609800788': 'LIVINGSTON',
 '1437150422': 'BRISTOL',
 '1518989367': 'EAST GREENWICH',
 '1952307605': 'POCATELLO',
 '1013060698': 'HONOLULU',
 '1295020618': 'SIOUX FALLS',
 '1114194073': 'KAHUKU',
 '1477516912': 'NORTH KINGSTOWN',
 '1043326978': 'PAWTUCKET',
 '1225012420': 'LEBANON',
 '1134127087': 'VERMILLION',
 '1790787729': 'EWA BEACH',
 '1215189634': 'CHEYENNE',
 '1942235999': 'SOMERSWORTH',
 '1841498052': 'BISMARCK',
 '1407049422': 'TWIN FALLS',
 '1073720983': 'MINOT',
 '1336578459': 'HONOLULU',
 '1275971038': 'WARWICK',
 '1720180367': 'PASCOAG',
 '1366640351': 'BURLINGTON',
 '1972681831': 'SIDNEY',
 '1851380125': 'OAKES',
 '1942351291': 'WASHINGTON',
 '1003915091': 'WILMINGTON',
 '1669479168': 'WEBSTER',
 '1023094893': 'LANCASTER',
 '1053355727': 'HARDIN',
 '1073833828': 'ANCHORAGE',
 '1770810814': 'BOZEMAN',
 '1134180128': 'WASHINGTON',
 '1184694804': 'BRISTOL',
 '1366492290': 'PETERBOROUGH',
 '1316055320': 'IDAHO FALLS',
 '1710964531': 'MADISON',
 '1265494868': 'TAMUNING',
 '1891759197': 'BILLINGS',
 '1194754630': 'MANCHESTER',
 '1760592125': 'POST FALLS',
 '1073556650': 'HONOLULU',
 '1407174279': 'MINOT',
 '1770529844': 'BROOKINGS',
 '1437169604': 'BOSCAWEN',
 '1760429799': 'CASPER',
 '1609023290': 'YANKTON',
 '1740339159': 'CHEYENNE',
 '1770673824': 'WASHINGTON',
 '1508920307': 'KAILUA',
 '1598869067': 'AIEA',
 '1154526549': 'TWIN FALLS',
 '1740289776': 'BEDFORD',
 '1982681151': 'FAIRBANKS',
 '1639105968': 'GREAT FALLS',
 '1659419448': 'MERIDIAN',
 '1477741726': 'HONOLULU',
 '1497962229': 'KAHULUI',
 '1093702110': 'PORTSMOUTH',
 '1144219775': 'MILILANI',
 '1295718013': 'CHEYENNE',
 '1013903640': 'WAILUKU',
 '1306059910': 'BURLINGTON',
 '1982961611': 'RUTLAND',
 '1285846253': 'SAINT ALBANS',
 '1033462569': 'HILO',
 '1851443428': 'MONTPELIER',
 '1184689465': 'ANCHORAGE',
 '1639188352': 'BURLINGTON',
 '1649331745': 'MANCHESTER',
 '1104914530': 'WILLISTON',
 '1972651529': 'RIVERSIDE',
 '1174578025': 'BOISE',
 '1891852851': 'WASHINGTON',
 '1942568225': 'WASHINGTON',
 '1477626802': 'HILO',
 '1205851979': 'JOHNSTON',
 '1528093119': 'DOVER',
 '1679561930': 'WASHINGTON',
 '1760805493': 'WESTERLY',
 '1972686467': 'SIOUX FALLS',
 '1720021595': 'DOVER',
 '1558348649': 'REXBURG',
 '1144208349': 'MISSOULA',
 '1184852790': 'LITTLETON',
 '1144326497': 'LIHUE',
 '1689644098': 'PHILIP',
 '1386698363': 'MERIDIAN',
 '1679790059': 'WARWICK',
 '1831388123': 'WILMINGTON',
 '1689699175': 'WAKEFIELD',
 '1255376455': 'WARWICK',
 '1932116787': 'HONOLULU',
 '1114944832': 'WAILUKU',
 '1295732709': 'HARRISBURG',
 '1588987309': 'EAGLE',
 '1700046927': 'PINEDALE',
 '1568465797': 'RIVERTON',
 '1629333893': 'CASPER',
 '1619063609': 'WASHINGTON',
 '1467501882': 'RIVERSIDE',
 '1891889879': 'RICHARDTON',
 '1811143233': 'SIOUX FALLS',
 '1871767848': 'WALPOLE',
 '1942399522': 'POWELL',
 '1417033408': 'EXETER',
 '1912059221': 'LEBANON',
 '1083881262': 'BUFFALO',
 '1942203419': 'DEADWOOD',
 '1255486221': 'WASHINGTON',
 '1518968478': 'GREAT FALLS',
 '1508911603': 'WASHINGTON',
 '1831188119': 'OAKES',
 '1831321348': 'MERIDIAN',
 '1992808950': 'WASHINGTON',
 '1770562407': 'MANCHESTER',
 '1194807040': 'RANDOLPH',
 '1265429229': 'SALEM',
 '1003825860': 'NASHUA',
 '1174789499': 'STEVENSVILLE',
 '1376858043': 'NEW CASTLE',
 '1467464495': 'CRANSTON',
 '1518923085': 'ABERDEEN',
 '1447299037': 'KALISPELL',
 '1952387714': 'GROVETON',
 '1215994306': 'WARWICK',
 '1376548107': 'SIOUX FALLS',
 '1447204995': 'COEUR D ALENE',
 '1356694384': 'MERIDIAN',
 '1992797088': 'IDAHO FALLS',
 '1881778553': 'RAPID CITY',
 '1467557009': 'HONOLULU',
 '1568419539': 'PROVIDENCE',
 '1386679397': 'HONOLULU',
 '1285639104': 'LIHUE',
 '1235221664': 'GRAND FORKS',
 '1134224512': 'BOZEMAN',
 '1598824369': 'KAHULUI',
 '1497853147': 'BISMARCK',
 '1144275694': 'MERIDIAN',
 '1215984638': "COEUR D'ALENE",
 '1811079585': 'DOVER',
 '1063412534': 'BONNERS FERRY',
 '1154393486': 'PROVIDENCE',
 '1609977891': 'IDAHO FALLS',
 '1215086152': 'UPPER TUMON',
 '1003866765': 'LEWISTON',
 '1356327886': 'ST THOMAS',
 '1104991652': 'ROCHESTER',
 '1811979099': 'BUTTE',
 '1093879884': 'AIEA',
 '1386801983': 'WASHINGTON',
 '1720144520': 'WRANGELL',
 '1366438822': 'WILMINGTON',
 '1821020686': 'GREAT FALLS',
 '1295786358': 'CONCORD',
 '1346307097': 'HALEIWA',
 '1699829127': 'EWA BEACH',
 '1518195841': 'DERRY',
 '1477712057': 'PROVIDENCE',
 '1902007420': 'KAPAA',
 '1205034311': 'PROVIDENCE',
 '1265417836': 'PAWTUCKET',
 '1104089556': 'CALDWELL',
 '1790075869': 'BERLIN',
 '1366695736': 'ANCHORAGE',
 '1144337825': 'NASHUA',
 '1033276209': 'WAIPAHU',
 '1720039704': 'RUTLAND',
 '1518904598': 'BOISE',
 '1427068907': 'ANCHORAGE',
 '1023063849': 'WESTERLY',
 '1679574487': 'EMMETT',
 '1720028533': 'WAIPAHU',
 '1518984541': 'BOMOSEEN',
 '1164597480': 'FARGO',
 '1144483215': 'MINOT',
 '1659675965': 'ANCHORAGE',
 '1285639971': 'KOLOA',
 '1386951481': 'PLENTYWOOD',
 '1861450116': 'LARAMIE',
 '1104997360': 'SOLDOTNA',
 '1083856439': 'HONOLULU',
 '1245662535': 'BERLIN',
 '1548557218': "COEUR D'ALENE",
 '1902807860': 'GREAT FALLS',
 '1447227293': 'MARSING',
 '1780974113': 'LEBANON',
 '1790749836': 'CODY',
 '1609863125': 'EAST PROVIDENCE',
 '1306875174': 'LEWISTON',
 '1467428995': 'SIOUX FALLS',
 '1750356465': 'BISON',
 '1962443523': 'CONCORD',
 '1831109933': 'PAHOA',
 '1477528891': 'DAKOTA DUNES',
 '1962431825': 'COEUR D ALENE',
 '1811936925': 'WAILUKU',
 '1467459263': 'PROVIDENCE',
 '1548297625': 'MILES CITY',
 '1487853404': 'BUTTE',
 '1134390941': 'CRARY',
 '1184701658': 'DOVER',
 '1942393988': 'NASHUA',
 '1265514582': 'BOISE',
 '1528192986': 'LEBANON',
 '1417197435': 'WASHINGTON',
 '1487645750': 'WASHINGTON',
 '1912014499': 'CUSTER',
 '1902121932': 'LIBBY',
 '1669475422': 'HAMPTON',
 '1659324499': 'POCATELLO',
 '1619169299': 'TWIN FALLS',
 '1134124134': 'CHEYENNE',
 '1407945918': 'ABERDEEN',
 '1386626174': 'NORTH PROVIDENCE',
 '1831342666': 'WOONSOCKET',
 '1598796922': 'EAST GREENWICH',
 '1760414049': 'AIEA',
 '1902891484': 'BURLEY',
 '1093088833': 'CRANSTON',
 '1932286135': 'HONOLULU',
 '1316015696': 'NEWPORT',
 '1194063503': 'DEVILS LAKE',
 '1679670251': 'CODY',
 '1801964804': 'HELENA',
 '1407902919': 'GRAFTON',
 '1396092201': 'KEENE',
 '1710958061': 'ANCHORAGE',
 '1053375832': 'PAWTUCKET',
 '1295756765': 'EAST PROVIDENCE',
 '1760668933': 'MILILANI',
 '1518916410': 'BENNINGTON',
 '1790885994': 'HILO',
 '1467611772': 'NEWARK',
 '1265472781': 'TWIN FALLS',
 '1164441242': 'DOVER',
 '1679669824': 'WASHINGTON',
 '1760488209': 'SIOUX FALLS',
 '1356302319': 'NEW IPSWICH',
 '1508843327': 'MADISON',
 '1235121807': 'ANCHORAGE',
 '1215285093': 'MILLER',
 '1033290978': 'KEMMERER',
 '1871793091': 'VERMILLION',
 '1578524559': 'NAMPA',

In [106]:
# Map data state into part_d_d data frame
# part_d_d['state'] = part_d_d['npi'].map(part_d_a_dict)
# part_d_d 
part_d_d['city'] = part_d_d['npi'].map(part_d_a_dict2)
part_d_d

,npi,drug_name,total_claim_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,state,city
0,1013904184,HYDROCHLOROTHIAZIDE,29.0,1852.0,173.93,TN,COOKEVILLE
1,1679576359,HYDROXYUREA,29.0,1482.0,888.73,MO,SAINT LOUIS
2,1730434176,FUROSEMIDE,29.0,1335.0,139.68,WV,HUNTINGTON
3,1174546295,ALENDRONATE SODIUM,29.0,1313.0,294.8,NM,ALBUQUERQUE
4,1194719591,ALLOPURINOL,29.0,1786.0,276.75,NC,NEW BERN
...,...,...,...,...,...,...,...
24120613,1275646952,LEVETIRACETAM,39.0,1126.0,1419.45,CA,AZUSA
24120614,1275734394,OMEPRAZOLE,188.0,10695.0,4077.38,MI,MUSSEY
24120615,1275799819,METOPROLOL TARTRATE,137.0,10800.0,1248.93,NV,PAHRUMP
24120616,1285601153,CARVEDILOL,73.0,2023.0,1664.61,WI,JANESVILLE
24120617,1285606996,TRAMADOL HCL,177.0,4623.0,2173.49,TX,SAN ANTONIO

In [107]:
# Export to csv just in case
part_d_d.to_csv("data/CLEAN_part_d_d.csv", index=False, encoding='utf8')

In [109]:
# This is the dictionary to map specialty description
part_d_b_dict = {row[0]: row[1] for k, row in part_d_b.iterrows()}
part_d_b_dict

{'1679570527': 'General Surgery',
 '1871535179': 'Anesthesiology',
 '1952677445': 'Student in an Organized Health Care Education/Training Program',
 '1780624122': 'Osteopathic Manipulative Medicine',
 '1811190804': 'Otolaryngology',
 '1427085521': 'Anesthesiology',
 '1457409104': 'Interventional Pain Management',
 '1891051181': 'Student in an Organized Health Care Education/Training Program',
 '1891743241': 'Podiatry',
 '1093711087': 'Podiatry',
 '1568671196': 'Infectious Disease',
 '1538268438': 'Medical Oncology',
 '1972641355': 'Neuropsychiatry',
 '1770650517': 'Infectious Disease',
 '1801199013': 'Optometry',
 '1942403977': 'Psychiatry & Neurology',
 '1881644516': 'Medical Genetics, Ph.D. Medical Genetics',
 '1902249048': 'Student in an Organized Health Care Education/Training Program',
 '1902822166': 'Medical Oncology',
 '1316239833': 'Student in an Organized Health Care Education/Training Program',
 '1295731362': 'Medical Oncology',
 '1396903134': 'Maxillofacial Surgery',
 '1588623615': 'Infectious Disease',
 '1912145285': 'Otolaryngology',
 '1477634228': 'General Surgery',
 '1679621734': 'Allergy/Immunology',
 '1649350398': 'Oral Surgery (dentists only)',
 '1891784708': 'General Surgery',
 '1982815411': 'Pediatric Medicine',
 '1679713069': 'Pain Management',
 '1770597882': 'Infectious Disease',
 '1841307147': 'Plastic Surgery',
 '1689668766': 'General Surgery',
 '1881664522': 'Infectious Disease',
 '1023106481': 'Certified Clinical Nurse Specialist',
 '1144260332': 'Physical Medicine and Rehabilitation',
 '1275595431': 'Pediatric Medicine',
 '1063702025': 'Student in an Organized Health Care Education/Training Program',
 '1205275203': 'Student in an Organized Health Care Education/Training Program',
 '1780871632': 'Student in an Organized Health Care Education/Training Program',
 '1003907155': 'Psychiatry & Neurology',
 '1043385735': 'Psychiatry & Neurology',
 '1679837454': 'Psychiatry & Neurology',
 '1578669271': 'Psychiatry & Neurology',
 '1578752572': 'Anesthesiology',
 '1376634915': 'Infectious Disease',
 '1447503453': 'Certified Clinical Nurse Specialist',
 '1407021629': 'Preventive Medicine',
 '1417981846': 'Infectious Disease',
 '1194800037': 'Infectious Disease',
 '1689900276': 'Certified Clinical Nurse Specialist',
 '1588721690': 'Infectious Disease',
 '1700818283': 'Certified Clinical Nurse Specialist',
 '1700197605': 'Psychiatry & Neurology',
 '1770552614': 'Infectious Disease',
 '1912099383': 'Preferred Provider Organization',
 '1871858340': 'Student in an Organized Health Care Education/Training Program',
 '1881907913': 'Student in an Organized Health Care Education/Training Program',
 '1518057025': 'Psychiatry & Neurology',
 '1558588988': 'Psychiatry & Neurology',
 '1881612307': 'Infectious Disease',
 '1952499337': 'Psychiatry & Neurology',
 '1386734275': 'Hematology',
 '1710236971': 'Psychiatry & Neurology',
 '1942542931': 'Student in an Organized Health Care Education/Training Program',
 '1336176593': 'Otolaryngology',
 '1124116793': 'Psychiatry & Neurology',
 '1336147636': 'Infectious Disease',
 '1104904051': 'Allergy/Immunology',
 '1043200926': 'Allergy/Immunology',
 '1245271386': 'Podiatry',
 '1205908639': 'Allergy/Immunology',
 '1861787897': 'Family Medicine',
 '1316280308': 'Student in an Organized Health Care Education/Training Program',
 '1477827236': 'Optometry',
 '1497800692': 'Optometry',
 '1811126774': 'Student in an Organized Health Care Education/Training Program',
 '1023161809': 'General Surgery',
 '1144463415': 'Pediatric Medicine',
 '1336139666': 'Allergy/Immunology',
 '1316916448': 'Otolaryngology',
 '1598772550': 'Gynecological/Oncology',
 '1831488568': 'Student in an Organized Health Care Education/Training Program',
 '1356553010': 'Registered Nurse',
 '1356517890': 'Student in an Organized Health Care Education/Training Program',
 '1134564859': 'Student in an Organized Health Care Education/Training Program',
 '1881653723': 'Pediatric Medicine',
 '1912945338': 'Optometry',
 '1659337087': 'Radiation Oncology',
 '1053378000': 'Allergy/Immunology',
 '1801868815': 'General Surgery',
 '1003820747': 'Otolaryngology',
 '1265439905': 'Podiatry',
 '1427324599': 'Student in an Organized Health Care Education/Training Program',
 '1073834339': 'Orthopaedic Surgery',
 '1114044559': 'Infectious Disease',
 '1184601197': 'General Surgery',
 '1396776597': 'Physical Medicine and Rehabilitation',
 '1487648770': 'Hand Surgery',
 '1356638811': 'Student in an Organized Health Care Education/Training Program',
 '1093978751': 'Cardiac Electrophysiology',
 '1235290487': 'Psychiatry & Neurology',
 '1144245382': 'Infectious Disease',
 '1558363788': 'Pediatric Medicine',
 '1144352733': 'Licensed Clinical Social Worker',
 '1306837885': 'Optometry',
 '1972554426': 'Physical Medicine and Rehabilitation',
 '1760573307': 'Oral Surgery (dentists only)',
 '1356442776': 'Physical Medicine and Rehabilitation',
 '1013018035': 'Medical Oncology',
 '1811033525': 'General Surgery',
 '1528021276': 'Optometry',
 '1629082763': 'Pain Management',
 '1902987431': 'Anesthesiology',
 '1518964303': 'Physical Medicine and Rehabilitation',
 '1568494474': 'Physical Medicine and Rehabilitation',
 '1578511416': 'Pediatric Medicine',
 '1114136124': 'Clinic/Center',
 '1558317149': 'Radiation Oncology',
 '1174945612': 'Pharmacist',
 '1710925904': 'Cardiac Electrophysiology',
 '1184824237': 'Critical Care (Intensivists)',
 '1205828282': 'Allergy/Immunology',
 '1912068529': 'Infectious Disease',
 '1871581140': 'Otolaryngology',
 '1538258314': 'Medical Oncology',
 '1619009800': 'Infectious Disease',
 '1053307066': 'Infectious Disease',
 '1255377313': 'Registered Nurse',
 '1467426692': 'Physical Medicine and Rehabilitation',
 '1023174752': 'Anesthesiology',
 '1598842551': 'Preventive Medicine',
 '1447226477': 'Otolaryngology',
 '1750545307': 'Pain Management',
 '1144279209': 'Infectious Disease',
 '1255347977': 'Plastic and Reconstructive Surgery',
 '1174628820': 'Infectious Disease',
 '1184649600': 'Medical Oncology',
 '1275813016': 'Student in an Organized Health Care Education/Training Program',
 '1033272620': 'Certified Clinical Nurse Specialist',
 '1366415754': 'Pediatric Medicine',
 '1437238011': 'Podiatry',
 '1073513958': 'Infectious Disease',
 '1053756783': 'Student in an Organized Health Care Education/Training Program',
 '1285831198': 'Physical Medicine and Rehabilitation',
 '1003036856': 'Psychiatry & Neurology',
 '1033180898': 'Pediatric Medicine',
 '1770509879': 'Otolaryngology',
 '1104930932': 'Allergy/Immunology',
 '1376509778': 'Otolaryngology',
 '1396944740': 'Physical Medicine and Rehabilitation',
 '1538179684': 'Maxillofacial Surgery',
 '1306926399': 'Infectious Disease',
 '1649235490': 'Physical Medicine and Rehabilitation',
 '1275632929': 'General Surgery',
 '1013911874': 'Pediatric Medicine',
 '1033132865': 'Critical Care (Intensivists)',
 '1659473155': 'Optometry',
 '1134213812': 'Podiatry',
 '1942231014': 'Plastic and Reconstructive Surgery',
 '1124159678': 'Medical Oncology',
 '1184810434': 'Podiatry',
 '1144333972': 'Physical Medicine and Rehabilitation',
 '1396712113': 'Infectious Disease',
 '1649243304': 'Infectious Disease',
 '1669705513': 'Podiatry',
 '1679680839': 'Plastic and Reconstructive Surgery',
 '1457340531': 'Hospice and Palliative Care',
 '1285995779': 'Student in an Organized Health Care Education/Training Program',
 '1104851492': 'General Surgery',
 '1982698528': 'Critical Care (Intensivists)',
 '1942228168': 'Plastic and Reconstructive Surgery',
 '1972576155': 'Otolaryngology',
 '1134142334': 'General Surgery',
 '1134424708': 'Certified Clinical Nurse Specialist',
 '1538135942': 'Physical Medicine and Rehabilitation',
 '1578507059': 'Otolaryngology',
 '1235314998': 'Anesthesiology',
 '1245260108': 'Podiatry',
 '1295706497': 'Infectious Disease',
 '1326207333': 'Pediatric Medicine',
 '1497720288': 'Colorectal Surgery (formerly proctology)',
 '1376591982': 'Infectious Disease',
 '1457355893': 'Allergy/Immunology',
 '1669730420': 'Student in an Organized Health Care Education/Training Program',
 '1104817170': 'Otolaryngology',
 '1174782080': 'Physical Medicine and Rehabilitation',
 '1184661571': 'Infectious Disease',
 '1790043321': 'Student in an Organized Health Care Education/Training Program',
 '1508859091': 'Physical Medicine and Rehabilitation',
 '1063659613': 'Physical Medicine and Rehabilitation',
 '1659385300': 'Medical Oncology',
 '1497821342': 'Psychiatry & Neurology',
 '1114934619': 'Medical Oncology',
 '1457321788': 'Podiatry',
 '1700957784': 'Physical Medicine and Rehabilitation',
 '1588723084': 'Infectious Disease',
 '1881777464': 'Psychiatry & Neurology',
 '1740253384': 'Otolaryngology',
 '1427194166': 'Cardiac Electrophysiology',
 '1578791620': 'Anesthesiology',
 '1104800804': 'Optometry',
 '1982626800': 'Optometry',
 '1215193990': 'Anesthesiology',
 '1710995667': 'General Surgery',
 '1730278623': 'Infectious Disease',
 '1821058850': 'Cardiac Surgery',
 '1174880280': 'Student in an Organized Health Care Education/Training Program',
 '1235124637': 'Plastic and Reconstructive Surgery',
 '1922078922': 'Certified Nurse Midwife',
 '1285823401': 'Podiatry',
 '1407813082': 'Podiatry',
 '1225121957': 'Oral Surgery (dentists only)',
 '1487091690': 'Student in an Organized Health Care Education/Training Program',
 '1285613364': 'Otolaryngology',
 '1437374683': 'Physical Medicine and Rehabilitation',
 '1588647424': 'Otolaryngology',
 '1598869216': 'Otolaryngology',
 '1649471756': 'Neuropsychiatry',
 '1821026659': 'Podiatry',
 '1689610990': 'Infectious Disease',
 '1649372343': 'Optometry',
 '1639345481': 'Student in an Organized Health Care Education/Training Program',
 '1679777148': 'Certified Clinical Nurse Specialist',
 '1861480469': 'Anesthesiology',
 '1922368596': 'Student in an Organized Health Care Education/Training Program',
 '1063585412': 'Psychiatry & Neurology',
 '1235106386': 'Infectious Disease',
 '1922004746': 'Physical Medicine and Rehabilitation',
 '1336186592': 'Psychiatry & Neurology',
 '1487684858': 'Pain Management',
 '1235391350': 'Neuropsychiatry',
 '1417148446': 'Physical Medicine and Rehabilitation',
 '1205837374': 'Physical Medicine and Rehabilitation',
 '1568668713': 'Infectious Disease',
 '1679593891': 'Anesthesiology',
 '1710266796': 'Student in an Organized Health Care Education/Training Program',
 '1588710164': 'Infectious Disease',
 '1396069159': 'Student in an Organized Health Care Education/Training Program',
 '1629269246': 'Psychiatry & Neurology',
 '1982993598': 'Student in an Organized Health Care Education/Training Program',
 '1326078015': 'Psychiatry & Neurology',
 '1851578405': 'Infectious Disease',
 '1730252875': 'Preventive Medicine',
 '1306945845': 'Infectious Disease',
 '1982673869': 'Infectious Disease',
 '1730380007': 'Physical Medicine and Rehabilitation',
 '1538192588': 'Infectious Disease',
 '1861514531': 'Psychiatry & Neurology',
 '1649225236': 'Physical Medicine and Rehabilitation',
 '1922219724': 'Psychiatry & Neurology',
 '1811188949': 'Anesthesiology',
 '1437153129': 'Optometry',
 '1972685014': 'Cardiac Electrophysiology',
 '1699764498': 'Cardiac Electrophysiology',
 '1770923278': 'Student in an Organized Health Care Education/Training Program',
 '1700921756': 'Optometry',
 '1508071846': 'Cardiac Electrophysiology',
 '1346234127': 'Medical Oncology',
 '1053326728': 'Cardiac Electrophysiology',
 '1073568184': 'Critical Care (Intensivists)',
 '1699779561': 'Allergy/Immunology',
 '1386656288': 'General Surgery',
 '1598078115': 'Student in an Organized Health Care Education/Training Program',
 '1629060496': 'Psychiatry & Neurology',
 '1447228069': 'Thoracic Surgery',
 '1326038571': 'Otolaryngology',
 '1003870759': 'Medical Oncology',
 '1437154267': 'Nuclear Medicine',
 '1407823487': 'General Surgery',
 '1689772543': 'Critical Care (Intensivists)',
 '1881684678': 'Optometry',
 '1124015482': 'Plastic and Reconstructive Surgery',
 '1104112440': 'Hospitalist',
 '1548317894': 'Psychiatry & Neurology',
 '1154541175': 'Anesthesiology',
 '1043258221': 'Diagnostic Radiology',
 '1306912720': 'Oral Surgery (dentists only)',
 '1366704801': 'Physical Medicine and Rehabilitation',
 '1124025267': 'Sports Medicine',
 '1144226150': 'Otolaryngology',
 '1336291053': 'Pediatric Medicine',
 '1841225430': 'Allergy/Immunology',
 '1427016435': 'Optometry',
 '1326219783': 'Cardiac Electrophysiology',
 '1124190939': 'Optometry',
 '1902874522': 'Legal Medicine',
 '1598861866': 'Infectious Disease',
 '1538267851': 'Neurological Surgery',
 '1710102710': 'Pediatric Medicine',
 '1922396035': 'Psychiatry & Neurology',
 '1881841732': 'Student in an Organized Health Care Education/Training Program',
 '1154397677': 'Gynecological/Oncology',
 '1609897271': 'Otolaryngology',
 '1417999533': 'Medical Oncology',
 '1841482270': 'Medical Oncology',
 '1578791992': 'Colorectal Surgery (formerly proctology)',
 '1750599916': 'Optometry',
 '1679792196': 'Preventive Medicine',
 '1376532804': 'Optometry',
 '1679834881': 'Hospitalist',
 '1699964320': 'Maxillofacial Surgery',
 '1588921647': 'Student in an Organized Health Care Education/Training Program',
 '1881621985': 'Colorectal Surgery (formerly proctology)',
 '1770510901': 'General Surgery',
 '1164714549': 'Student in an Organized Health Care Education/Training Program',
 '1205899309': 'Radiation Oncology',
 '1639396104': 'Podiatry',
 '1699113472': 'Student in an Organized Health Care Education/Training Program',
 '1083897458': 'Allergy/Immunology',
 '1124012844': 'Otolaryngology',
 '1831293174': 'Infectious Disease',
 '1205137858': 'Student in an Organized Health Care Education/Training Program',
 '1497727382': 'Diagnostic Radiology',
 '1871520080': 'Pediatric Medicine',
 '1124000419': 'General Surgery',
 '1245541937': 'Podiatry',
 '1053435099': 'General Surgery',
 '1124255989': 'Student in an Organized Health Care Education/Training Program',
 '1205831666': 'Medical Oncology',
 '1649263146': 'Allergy/Immunology',
 '1245531821': 'Podiatry',
 '1215991336': 'Otolaryngology',
 '1295748994': 'Physical Medicine and Rehabilitation',
 '1295847382': 'General Surgery',
 '1528257524': 'Anesthesiology',
 '1477810760': 'Hospitalist',
 '1023034337': 'Medical Oncology',
 '1013948462': 'Physical Medicine and Rehabilitation',
 '1093980625': 'Anesthesiology',
 '1811933930': 'Podiatry',
 '1073716726': 'Pain Management',
 '1649244476': 'Critical Care (Intensivists)',
 '1659328003': 'Medical Oncology',
 '1346310463': 'General Surgery',
 '1881699858': 'Critical Care (Intensivists)',
 '1902245764': 'General Surgery',
 '1134171895': 'Physical Medicine and Rehabilitation',
 '1376686048': 'Psychiatry & Neurology',
 '1386615961': 'Optometry',
 '1366520322': 'Pharmacist',
 '1215019716': 'General Surgery',
 '1356418453': 'Naturopath',
 '1134102171': 'Neurosurgery',
 '1972643344': 'Infectious Disease',
 '1114180882': 'Interventional Pain Management',
 '1366401606': 'Podiatry',
 '1184690109': 'Allergy/Immunology',
 '1538139548': 'Medical Oncology',
 '1245241124': 'Pain Management',
 '1295803229': 'Podiatry',
 '1265780555': 'Optometry',
 '1649291808': 'Infectious Disease',
 '1346471034': 'Certified Clinical Nurse Specialist',
 '1528026663': 'General Surgery',
 '1740248954': 'Oral Surgery (dentists only)',
 '1689940710': 'Student in an Organized Health Care Education/Training Program',
 '1639443492': 'Podiatry',
 '1659525640': 'Plastic and Reconstructive Surgery',
 '1366454258': 'Infectious Disease',
 '1326233461': 'Cardiac Electrophysiology',
 '1396895280': 'Interventional Pain Management',
 '1194728048': 'Podiatry',
 '1760664072': 'Cardiac Electrophysiology',
 '1396707121': 'Interventional Pain Management',
 '1811243397': 'Podiatry',
 '1811932965': 'General Surgery',
 '1477541399': 'Gynecological/Oncology',
 '1508184532': 'Naturopath',
 '1275976029': 'Student in an Organized Health Care Education/Training Program',
 '1861791568': 'Student in an Organized Health Care Education/Training Program',
 '1912182841': 'Otolaryngology',
 '1932356789': 'Podiatry',
 '1376818757': 'Student in an Organized Health Care Education/Training Program',
 '1750443289': 'Otolaryngology',
 '1215940564': 'Physical Medicine and Rehabilitation',
 '1922045186': 'Pediatric Medicine',
 '1548252844': 'Oral Surgery (dentists only)',
 '1649331281': 'Certified Clinical Nurse Specialist',
 '1811937048': 'Otolaryngology',
 '1528030806': 'Otolaryngology',
 '1174788970': 'Physical Medicine and Rehabilitation',
 '1386676740': 'Infectious Disease',
 '1821125725': 'Specialist',
 '1598021453': 'Student in an Organized Health Care Education/Training Program',
 '1508955444': 'Allergy/Immunology',
 '1548221492': 'Plastic and Reconstructive Surgery',
 '1093871725': 'Otolaryngology',
 '1629488473': 'Student in an Organized Health Care Education/Training Program',
 '1649271602': 'Podiatry',
 '1649245838': 'Otolaryngology',
 '1730107020': 'Otolaryngology',
 '1679607931': 'Infectious Disease',
 '1255619771': 'Optometry',
 '1801992516': 'Neurosurgery',
 '1881917748': 'Podiatry',
 '1942536164': 'Critical Care (Intensivists)',
 '1215943105': 'Podiatry',
 '1336399872': 'Certified Clinical Nurse Specialist',
 '1770744211': 'Podiatry',
 '1700816329': 'Infectious Disease',
 '1912088204': 'Psychiatry & Neurology',
 '1639268709': 'General Surgery',
 '1538142955': 'Podiatry',
 '1700091451': 'Physical Medicine and Rehabilitation',
 '1154417707': 'Otolaryngology',
 '1699714436': 'Infectious Disease',
 '1164442299': 'Geriatric Psychiatry',
 '1922091917': 'Otolaryngology',
 '1972693067': 'Optometry',
 '1225090384': 'Psychiatry & Neurology',
 '1326153339': 'Podiatry',
 '1356607881': 'Student in an Organized Health Care Education/Training Program',
 '1942243993': 'Podiatry',
 '1154525012': 'Otolaryngology',
 '1457799264': 'Student in an Organized Health Care Education/Training Program',
 '1730393232': 'General Surgery',
 '1245254218': 'Pain Management',
 '1265454664': 'Physical Medicine and Rehabilitation',
 '1285802736': 'CRNA',
 '1316902372': 'Interventional Pain Management',
 '1467575092': 'Certified Clinical Nurse Specialist',
 '1508931171': 'Otolaryngology',
 '1548608847': 'Psychiatry & Neurology',
 '1619901600': 'Oral Surgery (dentists only)',
 '1366737652': 'Psychiatry & Neurology',
 '1376536805': 'Psychiatry & Neurology',
 '1396906681': 'Student in an Organized Health Care Education/Training Program',
 '1427001692': 'Podiatry',
 '1952521007': 'Psychiatry & Neurology',
 '1457547713': 'Oral Surgery (dentists only)',
 '1548416969': 'General Surgery',
 '1538195961': 'Otolaryngology',
 '1568403418': 'Plastic Surgery',
 '1588660294': 'Podiatry',
 '1922031616': 'Otolaryngology',
 '1821017120': 'Radiation Oncology',
 '1699825158': 'Thoracic Surgery',
 '1841330123': 'Physical Medicine and Rehabilitation',
 '1902075054': 'Otolaryngology',
 '1205819091': 'Psychiatry & Neurology',
 '1396808168': 'Infectious Disease',
 '1447357561': 'General Surgery',
 '1073795142': 'Anesthesiology',
 '1902999352': 'Anesthesiology',
 '1144205428': 'Infectious Disease',
 '1982604336': 'Infectious Disease',
 '1750467908': 'Anesthesiology',
 '1235426578': 'Psychiatry & Neurology',
 '1508926403': 'Certified Clinical Nurse Specialist',
 '1689864852': 'Unknown Physician Specialty Code',
 '1760430953': 'Pediatric Medicine',
 '1356349492': 'Infectious Disease',
 '1255545687': 'Interventional Pain Management',
 '1417928011': 'Podiatry',
 '1740295617': 'Certified Clinical Nurse Specialist',
 '1588982664': 'Psychiatry & Neurology',
 '1972608388': 'Psychiatry & Neurology',
 '1952471484': 'Infectious Disease',
 '1821038548': 'Pediatric Medicine',
 '1487677407': 'Physical Medicine and Rehabilitation',
 '1811004245': 'Pediatric Medicine',
 '1992737829': 'Infectious Disease',
 '1780973982': 'Student in an Organized Health Care Education/Training Program',
 '1699798645': 'Psychiatry & Neurology',
 '1720071087': 'Psychiatry & Neurology',
 '1689761983': 'Psychiatry & Neurology',
 '1790752871': 'Hospice and Palliative Care',
 '1154369932': 'Cardiac Surgery',

In [110]:
# Map both data between part_d_d and part_d_b
part_d_d['specialty_description'] = part_d_d['npi'].map(part_d_b_dict)
part_d_d

,npi,drug_name,total_claim_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,state,city,specialty_description
0,1013904184,HYDROCHLOROTHIAZIDE,29.0,1852.0,173.93,TN,COOKEVILLE,Nurse Practitioner
1,1679576359,HYDROXYUREA,29.0,1482.0,888.73,MO,SAINT LOUIS,Hematology/Oncology
2,1730434176,FUROSEMIDE,29.0,1335.0,139.68,WV,HUNTINGTON,Nurse Practitioner
3,1174546295,ALENDRONATE SODIUM,29.0,1313.0,294.8,NM,ALBUQUERQUE,Family Practice
4,1194719591,ALLOPURINOL,29.0,1786.0,276.75,NC,NEW BERN,Internal Medicine
...,...,...,...,...,...,...,...,...
24120613,1275646952,LEVETIRACETAM,39.0,1126.0,1419.45,CA,AZUSA,General Practice
24120614,1275734394,OMEPRAZOLE,188.0,10695.0,4077.38,MI,MUSSEY,Family Practice
24120615,1275799819,METOPROLOL TARTRATE,137.0,10800.0,1248.93,NV,PAHRUMP,Family Practice
24120616,1285601153,CARVEDILOL,73.0,2023.0,1664.61,WI,JANESVILLE,Family Practice
24120617,1285606996,TRAMADOL HCL,177.0,4623.0,2173.49,TX,SAN ANTONIO,Internal Medicine

In [111]:
# Save files to CSV 
part_d_d.to_csv("data/CLEAN_part_d_d.csv", index=False, encoding='utf8')
part_d_d.to_csv("data/CLEAN_part_d_FINAL.csv", index=False, encoding='utf8')
# load to data base
# part_d_d.to_sql(name='data/CLEAN_part_d_FINAL', con=engine, if_exists='append', index=False)

In [3]:
# Read data because kernel restart
part_d_d = pd.read_csv("data/CLEAN_part_d_FINAL.csv",sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
part_d_final = part_d_d 
part_d_final

,npi,drug_name,total_claim_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,state,city,specialty_description
0,1013904184,HYDROCHLOROTHIAZIDE,29.0,1852.0,173.93,TN,COOKEVILLE,Nurse Practitioner
1,1679576359,HYDROXYUREA,29.0,1482.0,888.73,MO,SAINT LOUIS,Hematology/Oncology
2,1730434176,FUROSEMIDE,29.0,1335.0,139.68,WV,HUNTINGTON,Nurse Practitioner
3,1174546295,ALENDRONATE SODIUM,29.0,1313.0,294.8,NM,ALBUQUERQUE,Family Practice
4,1194719591,ALLOPURINOL,29.0,1786.0,276.75,NC,NEW BERN,Internal Medicine
...,...,...,...,...,...,...,...,...
24120613,1275646952,LEVETIRACETAM,39.0,1126.0,1419.45,CA,AZUSA,General Practice
24120614,1275734394,OMEPRAZOLE,188.0,10695.0,4077.38,MI,MUSSEY,Family Practice
24120615,1275799819,METOPROLOL TARTRATE,137.0,10800.0,1248.93,NV,PAHRUMP,Family Practice
24120616,1285601153,CARVEDILOL,73.0,2023.0,1664.61,WI,JANESVILLE,Family Practice
24120617,1285606996,TRAMADOL HCL,177.0,4623.0,2173.49,TX,SAN ANTONIO,Internal Medicine

In [36]:
# What is the total number of medications prescribed in each state?
# What is the most prescribed medication in each state?

medications_per_state = part_d_final.groupby(["state", "city", "npi"])

medications_per_state.first()

                                             drug_name total_claim_count_ge65  \
state city       npi
AA    APO        1033255906               TRAMADOL HCL                  152.0
                 1437240777    CHLORHEXIDINE GLUCONATE                   14.0
                 1629208145                 PROAIR HFA                   19.0
                 1659535557           PROMETHAZINE HCL                    0.0
                 1669645115  HYDROCODONE-ACETAMINOPHEN                    NaN
...                                                ...                    ...
ZZ    TORONTO    1437421716                     AVONEX                    0.0
      TRONDHEIM  1821292087               LEVOFLOXACIN                   13.0
      WINDSOR    1851594634                LAMOTRIGINE                    0.0
      WOODBRIDGE 1386081206                 LISINOPRIL                    NaN
      XXXXXX     1770888786                AMOXICILLIN                    NaN

                            total_day_supply_ge65 total_drug_cost_ge65  \
state city       npi
AA    APO        1033255906                1042.0               850.73
                 1437240777                 264.0                 83.7
                 1629208145                 138.0               130.46
                 1659535557                   0.0                  0.0
                 1669645115                   NaN                  NaN
...                                           ...                  ...
ZZ    TORONTO    1437421716                   0.0                  0.0
      TRONDHEIM  1821292087                  29.0                69.01
      WINDSOR    1851594634                   0.0                  0.0
      WOODBRIDGE 1386081206                   NaN                  NaN
      XXXXXX     1770888786                   NaN                  NaN

                                    specialty_description
state city       npi
AA    APO        1033255906  Oral Surgery (dentists only)
                 1437240777                       Dentist
                 1629208145               General Surgery
                 1659535557               Family Practice
                 1669645115                       Dentist
...                                                   ...
ZZ    TORONTO    1437421716                     Neurology
      TRONDHEIM  1821292087            Emergency Medicine
      WINDSOR    1851594634           Physician Assistant
      WOODBRIDGE 1386081206               Family Practice
      XXXXXX     1770888786                       Dentist

[837663 rows x 5 columns]

In [16]:
# Get count of drugs per state
medications_per_state_total_prescribed = medications_per_state["drug_name"].count()
medications_per_state_total_prescribed

state  city        npi
AA     APO         1033255906      5
                   1437240777      2
                   1629208145     13
                   1659535557      4
                   1669645115      2
                                ...
ZZ     TORONTO     1437421716      7
       TRONDHEIM   1821292087      4
       WINDSOR     1851594634    128
       WOODBRIDGE  1386081206      1
       XXXXXX      1770888786      1
Name: drug_name, Length: 837663, dtype: int64

In [35]:
# Put it in data frame
medications_per_state_total_prescribed = {"total_drug_count": medications_per_state_total_prescribed}
medications_per_state_total_prescribed_df = pd.DataFrame(medications_per_state_total_prescribed)
medications_per_state_total_prescribed_df = medications_per_state_total_prescribed_df.reset_index()
medications_per_state_total_prescribed_df

              index                                   total_drug_count
0  total_drug_count  state  city        npi
AA     APO      ...

In [18]:
# Find the drugs most prescribed per state
medications_per_state_most_prescribed = medications_per_state["drug_name"].value_counts()
medications_per_state_most_prescribed

state  city        npi         drug_name
AA     APO         1033255906  AMOXICILLIN                  1
                               CLINDAMYCIN HCL              1
                               HYDROCODONE-ACETAMINOPHEN    1
                               IBUPROFEN                    1
                               TRAMADOL HCL                 1
                                                           ..
ZZ     WINDSOR     1851594634  XOPENEX HFA                  1
                               ZETIA                        1
                               ZOLPIDEM TARTRATE            1
       WOODBRIDGE  1386081206  LISINOPRIL                   1
       XXXXXX      1770888786  AMOXICILLIN                  1
Name: drug_name, Length: 24029105, dtype: int64

In [34]:
# # Create data frame
medications_per_state_most_prescribed = {"drug_count": medications_per_state_most_prescribed}
medications_per_state_most_prescribed_df = pd.DataFrame(medications_per_state_most_prescribed)
medications_per_state_most_prescribed_df = medications_per_state_most_prescribed_df.reset_index()
medications_per_state_most_prescribed_df

        index                                         drug_count
0  drug_count  state  city        npi         drug_name      ...

In [20]:
# We see that there are garbage in the data
medications_per_state_most_prescribed_df["state"].tolist()

['AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AA',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 'AK',
 ...]

## Web scrapping states and coordinates

In [21]:
# Use Pandas to scrape the table containing states data.
url_states = "https://developers.google.com/public-data/docs/canonical/states_csv"

# Convert table to html
states_table = pd.read_html(url_states)

# Identify what type is the output data
type(states_table)

# Ensure to select the first part of the list
states_table_df = pd.DataFrame(states_table[0])

In [27]:
# states_table_df['location'] = states_table_df['latitude']+ "," +states_table_df['longitude']
# states_table_df

states_table_df['location'] = [', '.join(str(x) for x in y) for y in map(tuple, states_table_df[['latitude', 'longitude']].values)]
states_table_df

,state,latitude,longitude,name,location
0,AK,63.588753,-154.493062,Alaska,"63.588753000000004, -154.493062"
1,AL,32.318231,-86.902298,Alabama,"32.318231, -86.902298"
2,AR,35.201050,-91.831833,Arkansas,"35.20105, -91.83183299999999"
3,AZ,34.048928,-111.093731,Arizona,"34.048928000000004, -111.093731"
4,CA,36.778261,-119.417932,California,"36.778261, -119.41793200000001"
5,CO,39.550051,-105.782067,Colorado,"39.550051, -105.782067"
6,CT,41.603221,-73.087749,Connecticut,"41.603221000000005, -73.087749"
7,DC,38.905985,-77.033418,District of Columbia,"38.905985, -77.03341800000001"
8,DE,38.910832,-75.527670,Delaware,"38.910832, -75.52767"
9,FL,27.664827,-81.515754,Florida,"27.664827000000002, -81.515754"
10,GA,32.157435,-82.907123,Georgia,"32.157435, -82.907123"
11,HI,19.898682,-155.665857,Hawaii,"19.898682, -155.66585700000002"
12,IA,41.878003,-93.097702,Iowa,"41.878003, -93.097702"
13,ID,44.068202,-114.742041,Idaho,"44.068202, -114.74204099999999"
14,IL,40.633125,-89.398528,Illinois,"40.633125, -89.398528"
15,IN,40.551217,-85.602364,Indiana,"40.551217, -85.602364"
16,KS,39.011902,-98.484246,Kansas,"39.011902, -98.484246"
17,KY,37.839333,-84.270018,Kentucky,"37.839333, -84.27001800000001"
18,LA,31.244823,-92.145024,Louisiana,"31.244822999999997, -92.14502399999999"
19,MA,42.407211,-71.382437,Massachusetts,"42.407211, -71.382437"
20,MD,39.045755,-76.641271,Maryland,"39.045755, -76.641271"
21,ME,45.253783,-69.445469,Maine,"45.253783, -69.44546899999999"
22,MI,44.314844,-85.602364,Michigan,"44.314844, -85.602364"
23,MN,46.729553,-94.685900,Minnesota,"46.729553, -94.6859"
24,MO,37.964253,-91.831833,Missouri,"37.964253, -91.83183299999999"
25,MS,32.354668,-89.398528,Mississippi,"32.354668, -89.398528"
26,MT,46.879682,-110.362566,Montana,"46.879682, -110.36256599999999"
27,NC,35.759573,-79.019300,North Carolina,"35.759572999999996, -79.0193"
28,ND,47.551493,-101.002012,North Dakota,"47.551493, -101.002012"
29,NE,41.492537,-99.901813,Nebraska,"41.492537, -99.901813"
30,NH,43.193852,-71.572395,New Hampshire,"43.193852, -71.572395"
31,NJ,40.058324,-74.405661,New Jersey,"40.058324, -74.405661"
32,NM,34.972730,-105.032363,New Mexico,"34.97273, -105.03236299999999"
33,NV,38.802610,-116.419389,Nevada,"38.802609999999994, -116.419389"
34,NY,43.299428,-74.217933,New York,"43.299428000000006, -74.217933"
35,OH,40.417287,-82.907123,Ohio,"40.417287, -82.907123"
36,OK,35.007752,-97.092877,Oklahoma,"35.007752, -97.092877"
37,OR,43.804133,-120.554201,Oregon,"43.804133, -120.554201"
38,PA,41.203322,-77.194525,Pennsylvania,"41.203322, -77.194525"
39,PR,18.220833,-66.590149,Puerto Rico,"18.220833, -66.590149"
40,RI,41.580095,-71.477429,Rhode Island,"41.580095, -71.477429"
41,SC,33.836081,-81.163725,South Carolina,"33.836081, -81.163725"
42,SD,43.969515,-99.901813,South Dakota,"43.969515, -99.901813"
43,TN,35.517491,-86.580447,Tennessee,"35.517491, -86.58044699999999"
44,TX,31.968599,-99.901813,Texas,"31.968598999999998, -99.901813"
45,UT,39.320980,-111.093731,Utah,"39.32098, -111.093731"
46,VA,37.431573,-78.656894,Virginia,"37.431573, -78.656894"
47,VT,44.558803,-72.577841,Vermont,"44.558803000000005, -72.577841"
48,WA,47.751074,-120.740139,Washington,"47.751073999999996, -120.74013899999999"
49,WI,43.784440,-88.787868,Wisconsin,"43.784440000000004, -88.787868"
50,WV,38.597626,-80.454903,West Virginia,"38.597626, -80.454903"
51,WY,43.075968,-107.290284,Wyoming,"43.075967999999996, -107.29028400000001"

In [31]:
# states_table_df = states_table_df["location"].astype(float)
# states_table_df.info()

In [32]:
# Save raw data to csv
states_table_df.to_csv("data/CLEAN_states_tables.csv", index=False, encoding='utf8')
# states_table_df.to_sql(name='CLEAN_states_tables', con=engine, if_exists='append', index=False)
states_table_df.head()

  state   latitude   longitude        name                         location
0    AK  63.588753 -154.493062      Alaska  63.588753000000004, -154.493062
1    AL  32.318231  -86.902298     Alabama            32.318231, -86.902298
2    AR  35.201050  -91.831833    Arkansas     35.20105, -91.83183299999999
3    AZ  34.048928 -111.093731     Arizona  34.048928000000004, -111.093731
4    CA  36.778261 -119.417932  California   36.778261, -119.41793200000001

In [33]:
# Merge states and lat long to most precribed drugs data frame

medications_per_state_most_prescribed_df =  pd.merge(medications_per_state_most_prescribed_df,states_table_df, on = "state", how = "outer")
medications_per_state_most_prescribed_df = medications_per_state_most_prescribed_df.dropna()
medications_per_state_most_prescribed_df

,state,city,npi,drug_name,drug_count,latitude,longitude,name,location
287,AK,ADAK,1144644451,DULOXETINE HCL,1,63.588753,-154.493062,Alaska,"63.588753000000004, -154.493062"
288,AK,ANCHOR POINT,1477704187,AMOXICILLIN,1,63.588753,-154.493062,Alaska,"63.588753000000004, -154.493062"
289,AK,ANCHOR POINT,1477704187,CHLORHEXIDINE GLUCONATE,1,63.588753,-154.493062,Alaska,"63.588753000000004, -154.493062"
290,AK,ANCHOR POINT,1477704187,HYDROCODONE-ACETAMINOPHEN,1,63.588753,-154.493062,Alaska,"63.588753000000004, -154.493062"
291,AK,ANCHOR POINT,1477704187,TRAMADOL HCL-ACETAMINOPHEN,1,63.588753,-154.493062,Alaska,"63.588753000000004, -154.493062"
...,...,...,...,...,...,...,...,...,...
24028084,WY,WORLAND,1952333221,RANITIDINE HCL,1,43.075968,-107.290284,Wyoming,"43.075967999999996, -107.29028400000001"
24028085,WY,WORLAND,1952333221,SIMVASTATIN,1,43.075968,-107.290284,Wyoming,"43.075967999999996, -107.29028400000001"
24028086,WY,WORLAND,1952333221,SUCRALFATE,1,43.075968,-107.290284,Wyoming,"43.075967999999996, -107.29028400000001"
24028087,WY,WORLAND,1952333221,SULFAMETHOXAZOLE-TRIMETHOPRIM,1,43.075968,-107.290284,Wyoming,"43.075967999999996, -107.29028400000001"
24028088,WY,WORLAND,1952333221,WARFARIN SODIUM,1,43.075968,-107.290284,Wyoming,"43.075967999999996, -107.29028400000001"

In [124]:
medications_per_state_most_prescribed_df

,state,city,drug_name,drug_count,latitude,longitude,name
188,AK,ADAK,DULOXETINE HCL,1,63.588753,-154.493062,Alaska
189,AK,ANCHOR POINT,AMOXICILLIN,1,63.588753,-154.493062,Alaska
190,AK,ANCHOR POINT,CHLORHEXIDINE GLUCONATE,1,63.588753,-154.493062,Alaska
191,AK,ANCHOR POINT,HYDROCODONE-ACETAMINOPHEN,1,63.588753,-154.493062,Alaska
192,AK,ANCHOR POINT,TRAMADOL HCL-ACETAMINOPHEN,1,63.588753,-154.493062,Alaska
...,...,...,...,...,...,...,...
3547705,WY,WORLAND,VOLTAREN,1,43.075968,-107.290284,Wyoming
3547706,WY,WORLAND,VYTORIN,1,43.075968,-107.290284,Wyoming
3547707,WY,WORLAND,XARELTO,1,43.075968,-107.290284,Wyoming
3547708,WY,WORLAND,XOPENEX HFA,1,43.075968,-107.290284,Wyoming
3547709,WY,WORLAND,ZIPRASIDONE HCL,1,43.075968,-107.290284,Wyoming

In [125]:
# Reset index
medications_per_state_most_prescribed_df = medications_per_state_most_prescribed_df.reset_index(drop = True)
medications_per_state_most_prescribed_df

,state,city,drug_name,drug_count,latitude,longitude,name
0,AK,ADAK,DULOXETINE HCL,1,63.588753,-154.493062,Alaska
1,AK,ANCHOR POINT,AMOXICILLIN,1,63.588753,-154.493062,Alaska
2,AK,ANCHOR POINT,CHLORHEXIDINE GLUCONATE,1,63.588753,-154.493062,Alaska
3,AK,ANCHOR POINT,HYDROCODONE-ACETAMINOPHEN,1,63.588753,-154.493062,Alaska
4,AK,ANCHOR POINT,TRAMADOL HCL-ACETAMINOPHEN,1,63.588753,-154.493062,Alaska
...,...,...,...,...,...,...,...
3545257,WY,WORLAND,VOLTAREN,1,43.075968,-107.290284,Wyoming
3545258,WY,WORLAND,VYTORIN,1,43.075968,-107.290284,Wyoming
3545259,WY,WORLAND,XARELTO,1,43.075968,-107.290284,Wyoming
3545260,WY,WORLAND,XOPENEX HFA,1,43.075968,-107.290284,Wyoming
3545261,WY,WORLAND,ZIPRASIDONE HCL,1,43.075968,-107.290284,Wyoming

## What is the drug most consumed per state?

In [126]:
# Sort values by drug count in a way that we keep the highest value per state
medications_per_state_most_prescribed_df_data =medications_per_state_most_prescribed_df.sort_values(['drug_count'], ascending=[False]).drop_duplicates(['state']).reset_index(drop=True)
medications_per_state_most_prescribed_df_data

,state,city,drug_name,drug_count,latitude,longitude,name
0,NY,NEW YORK,AMLODIPINE BESYLATE,3120,43.299428,-74.217933,New York
1,TX,HOUSTON,HYDROCODONE-ACETAMINOPHEN,3062,31.968599,-99.901813,Texas
2,IL,CHICAGO,HYDROCODONE-ACETAMINOPHEN,2848,40.633125,-89.398528,Illinois
3,CA,LOS ANGELES,HYDROCODONE-ACETAMINOPHEN,2272,36.778261,-119.417932,California
4,PA,PHILADELPHIA,LISINOPRIL,1961,41.203322,-77.194525,Pennsylvania
5,IN,INDIANAPOLIS,HYDROCODONE-ACETAMINOPHEN,1873,40.551217,-85.602364,Indiana
6,MA,BOSTON,OMEPRAZOLE,1618,42.407211,-71.382437,Massachusetts
7,OR,PORTLAND,HYDROCODONE-ACETAMINOPHEN,1518,43.804133,-120.554201,Oregon
8,NV,LAS VEGAS,HYDROCODONE-ACETAMINOPHEN,1510,38.802610,-116.419389,Nevada
9,AZ,PHOENIX,HYDROCODONE-ACETAMINOPHEN,1483,34.048928,-111.093731,Arizona
10,MD,BALTIMORE,LISINOPRIL,1458,39.045755,-76.641271,Maryland
11,KY,LOUISVILLE,HYDROCODONE-ACETAMINOPHEN,1393,37.839333,-84.270018,Kentucky
12,FL,MIAMI,OMEPRAZOLE,1372,27.664827,-81.515754,Florida
13,MO,SAINT LOUIS,HYDROCODONE-ACETAMINOPHEN,1342,37.964253,-91.831833,Missouri
14,TN,NASHVILLE,HYDROCODONE-ACETAMINOPHEN,1319,35.517491,-86.580447,Tennessee
15,GA,ATLANTA,HYDROCODONE-ACETAMINOPHEN,1304,32.157435,-82.907123,Georgia
16,NC,CHARLOTTE,HYDROCODONE-ACETAMINOPHEN,1299,35.759573,-79.019300,North Carolina
17,AL,BIRMINGHAM,HYDROCODONE-ACETAMINOPHEN,1268,32.318231,-86.902298,Alabama
18,OH,CINCINNATI,HYDROCODONE-ACETAMINOPHEN,1241,40.417287,-82.907123,Ohio
19,OK,OKLAHOMA CITY,HYDROCODONE-ACETAMINOPHEN,1229,35.007752,-97.092877,Oklahoma
20,WA,SEATTLE,LISINOPRIL,1173,47.751074,-120.740139,Washington
21,MI,DETROIT,HYDROCODONE-ACETAMINOPHEN,1090,44.314844,-85.602364,Michigan
22,WI,MILWAUKEE,HYDROCODONE-ACETAMINOPHEN,962,43.784440,-88.787868,Wisconsin
23,NE,OMAHA,HYDROCODONE-ACETAMINOPHEN,912,41.492537,-99.901813,Nebraska
24,KS,WICHITA,HYDROCODONE-ACETAMINOPHEN,873,39.011902,-98.484246,Kansas
25,NM,ALBUQUERQUE,HYDROCODONE-ACETAMINOPHEN,871,34.972730,-105.032363,New Mexico
26,DC,WASHINGTON,LISINOPRIL,854,38.905985,-77.033418,District of Columbia
27,CO,DENVER,HYDROCODONE-ACETAMINOPHEN,827,39.550051,-105.782067,Colorado
28,MN,MINNEAPOLIS,LISINOPRIL,773,46.729553,-94.685900,Minnesota
29,LA,BATON ROUGE,HYDROCODONE-ACETAMINOPHEN,763,31.244823,-92.145024,Louisiana
30,UT,SALT LAKE CITY,HYDROCODONE-ACETAMINOPHEN,756,39.320980,-111.093731,Utah
31,VA,RICHMOND,HYDROCODONE-ACETAMINOPHEN,754,37.431573,-78.656894,Virginia
32,SC,GREENVILLE,HYDROCODONE-ACETAMINOPHEN,743,33.836081,-81.163725,South Carolina
33,AR,LITTLE ROCK,HYDROCODONE-ACETAMINOPHEN,670,35.201050,-91.831833,Arkansas
34,MS,JACKSON,HYDROCODONE-ACETAMINOPHEN,670,32.354668,-89.398528,Mississippi
35,PR,SAN JUAN,GABAPENTIN,635,18.220833,-66.590149,Puerto Rico
36,ID,BOISE,HYDROCODONE-ACETAMINOPHEN,570,44.068202,-114.742041,Idaho
37,HI,HONOLULU,LISINOPRIL,476,19.898682,-155.665857,Hawaii
38,IA,DES MOINES,HYDROCODONE-ACETAMINOPHEN,450,41.878003,-93.097702,Iowa
39,SD,SIOUX FALLS,HYDROCODONE-ACETAMINOPHEN,384,43.969515,-99.901813,South Dakota
40,CT,NEW HAVEN,LISINOPRIL,373,41.603221,-73.087749,Connecticut
41,WV,CHARLESTON,HYDROCODONE-ACETAMINOPHEN,369,38.597626,-80.454903,West Virginia
42,RI,PROVIDENCE,OMEPRAZOLE,357,41.580095,-71.477429,Rhode Island
43,MT,BILLINGS,HYDROCODONE-ACETAMINOPHEN,311,46.879682,-110.362566,Montana
44,AK,ANCHORAGE,HYDROCODONE-ACETAMINOPHEN,295,63.588753,-154.493062,Alaska
45,ND,FARGO,HYDROCODONE-ACETAMINOPHEN,279,47.551493,-101.002012,North Dakota
46,DE,WILMINGTON,LISINOPRIL,256,38.910832,-75.527670,Delaware
47,ME,PORTLAND,HYDROCODONE-ACETAMINOPHEN,222,45.253783,-69.445469,Maine
48,NH,LEBANON,LISINOPRIL,194,43.193852,-71.572395,New Hampshire
49,NJ,NEWARK,AMLODIPINE BESYLATE,174,40.058324,-74.405661,New Jersey
50,WY,CASPER,HYDROCODONE-ACETAMINOPHEN,133,43.075968,-107.290284,Wyoming
51,VT,BURLINGTON,GABAPENTIN,101,44.558803,-72.577841,Vermont

In [128]:
# Save to CSV and push to sql
medications_per_state_most_prescribed_df_data.to_csv("data/CLEAN_medications_per_state_most_prescribed_df_data.csv", index=False, encoding='utf8')
# medications_per_state_most_prescribed_df_data.to_sql(name='CLEAN_medications_per_state_most_prescribed_df_data', con=engine, if_exists='append', index=False)

## What is the total number of drugs per state?

In [129]:
# This data is to merge lat long to the data frame of total drug count per state
medications_per_state_total_prescribed_df_data = pd.merge(medications_per_state_total_prescribed_df,states_table_df, on = "state", how = "outer")
medications_per_state_total_prescribed_df_data = medications_per_state_total_prescribed_df_data.dropna()

In [130]:
# Sorting values by name to make sure there are no repetitive states
medications_per_state_total_prescribed_df_data = medications_per_state_total_prescribed_df_data.sort_values("name", ascending = True).reset_index(drop = True)
medications_per_state_total_prescribed_df_data

      state         city  total_drug_count   latitude   longitude     name
0        AL       NEWTON               257  32.318231  -86.902298  Alabama
1        AL       HEFLIN               484  32.318231  -86.902298  Alabama
2        AL     HEADLAND               310  32.318231  -86.902298  Alabama
3        AL  HAZEL GREEN               356  32.318231  -86.902298  Alabama
4        AL   HAYNEVILLE               199  32.318231  -86.902298  Alabama
...     ...          ...               ...        ...         ...      ...
16722    WY        HANNA                35  43.075968 -107.290284  Wyoming
16723    WY      JACKSON               863  43.075968 -107.290284  Wyoming
16724    WY     KEMMERER               285  43.075968 -107.290284  Wyoming
16725    WY      LARAMIE              1156  43.075968 -107.290284  Wyoming
16726    WY      WORLAND               698  43.075968 -107.290284  Wyoming

[16727 rows x 6 columns]

In [131]:
medications_per_state_total_prescribed_df_data.to_csv("data/CLEAN_medications_per_state_total_prescribed_df_data.csv", index=False, encoding='utf8')
# medications_per_state_total_prescribed_df_data.to_sql(name='CLEAN_medications_per_state_total_prescribed_df_data', con=engine, if_exists='append', index=False)

## Most expensive drug per state?

In [132]:
# Take a loow at the raw data

part_d_final.head()

,npi,drug_name,total_claim_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,state,city,specialty_description
0,1013904184,HYDROCHLOROTHIAZIDE,29.0,1852.0,173.93,TN,COOKEVILLE,Nurse Practitioner
1,1679576359,HYDROXYUREA,29.0,1482.0,888.73,MO,SAINT LOUIS,Hematology/Oncology
2,1730434176,FUROSEMIDE,29.0,1335.0,139.68,WV,HUNTINGTON,Nurse Practitioner
3,1174546295,ALENDRONATE SODIUM,29.0,1313.0,294.8,NM,ALBUQUERQUE,Family Practice
4,1194719591,ALLOPURINOL,29.0,1786.0,276.75,NC,NEW BERN,Internal Medicine

In [133]:
part_d_final["total_claim_count_ge65"]= part_d_final["total_claim_count_ge65"].astype(float)
part_d_final["total_day_supply_ge65"] = part_d_final["total_day_supply_ge65"].astype(float)
part_d_final["total_drug_cost_ge65"] = part_d_final["total_drug_cost_ge65"].astype(float)

In [134]:
part_d_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24120618 entries, 0 to 24120617
Data columns (total 8 columns):
npi                       object
drug_name                 object
total_claim_count_ge65    float64
total_day_supply_ge65     float64
total_drug_cost_ge65      float64
state                     object
city                      object
specialty_description     object
dtypes: float64(3), object(5)
memory usage: 1.4+ GB

In [135]:
medications_per_state_cost = part_d_final.groupby(["state","city","drug_name","specialty_description"])
medications_per_state_cost.head()

,npi,drug_name,total_claim_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,state,city,specialty_description
0,1013904184,HYDROCHLOROTHIAZIDE,29.0,1852.0,173.93,TN,COOKEVILLE,Nurse Practitioner
1,1679576359,HYDROXYUREA,29.0,1482.0,888.73,MO,SAINT LOUIS,Hematology/Oncology
2,1730434176,FUROSEMIDE,29.0,1335.0,139.68,WV,HUNTINGTON,Nurse Practitioner
3,1174546295,ALENDRONATE SODIUM,29.0,1313.0,294.80,NM,ALBUQUERQUE,Family Practice
4,1194719591,ALLOPURINOL,29.0,1786.0,276.75,NC,NEW BERN,Internal Medicine
...,...,...,...,...,...,...,...,...
24120603,1245239102,PANTOPRAZOLE SODIUM,38.0,1470.0,318.35,AL,VALLEY,Emergency Medicine
24120609,1255374302,LEVETIRACETAM,53.0,2070.0,1588.21,TX,CARROLLTON,Neurology
24120611,1275538019,SERTRALINE HCL,75.0,3435.0,832.37,TX,GLADEWATER,Family Practice
24120613,1275646952,LEVETIRACETAM,39.0,1126.0,1419.45,CA,AZUSA,General Practice
24120614,1275734394,OMEPRAZOLE,188.0,10695.0,4077.38,MI,MUSSEY,Family Practice

In [136]:
medications_per_state_cost_claims = medications_per_state_cost["total_claim_count_ge65"].sum()

In [137]:
medications_per_state_cost_suppply = medications_per_state_cost["total_day_supply_ge65"].sum()

In [138]:
medications_per_state_cost_cost = medications_per_state_cost["total_drug_cost_ge65"].sum()

In [139]:
medications_per_state_cost_claims

state  city        drug_name                      specialty_description
AA     APO         AMOX TR-POTASSIUM CLAVULANATE  General Surgery                  15.0
                   AMOXICILLIN                    Dentist                          16.0
                                                  Oral Surgery (dentists only)    152.0
                   AZITHROMYCIN                   General Surgery                  51.0
                   CEFDINIR                       General Surgery                   0.0
                                                                                  ...
ZZ     WINDSOR     XOPENEX HFA                    Physician Assistant               0.0
                   ZETIA                          Physician Assistant               0.0
                   ZOLPIDEM TARTRATE              Physician Assistant              18.0
       WOODBRIDGE  LISINOPRIL                     Family Practice                   0.0
       XXXXXX      AMOXICILLIN                    Dentist                           0.0
Name: total_claim_count_ge65, Length: 8193723, dtype: float64

In [144]:
medication_per_state_cost_data = {"drug_claim_count": medications_per_state_cost_claims, "drug_supply_count":medications_per_state_cost_suppply, "drug_cost": medications_per_state_cost_cost }
medication_per_state_cost_data_df = pd.DataFrame(medication_per_state_cost_data)

In [145]:
medication_per_state_cost_data_df = medication_per_state_cost_data_df.reset_index()
medication_per_state_cost_data_df

,state,city,drug_name,specialty_description,drug_claim_count,drug_supply_count,drug_cost
0,AA,APO,AMOX TR-POTASSIUM CLAVULANATE,General Surgery,15.0,150.0,231.32
1,AA,APO,AMOXICILLIN,Dentist,16.0,88.0,61.78
2,AA,APO,AMOXICILLIN,Oral Surgery (dentists only),152.0,1042.0,850.73
3,AA,APO,AZITHROMYCIN,General Surgery,51.0,251.0,344.10
4,AA,APO,CEFDINIR,General Surgery,0.0,0.0,0.00
...,...,...,...,...,...,...,...
8193718,ZZ,WINDSOR,XOPENEX HFA,Physician Assistant,0.0,0.0,0.00
8193719,ZZ,WINDSOR,ZETIA,Physician Assistant,0.0,0.0,0.00
8193720,ZZ,WINDSOR,ZOLPIDEM TARTRATE,Physician Assistant,18.0,540.0,162.26
8193721,ZZ,WOODBRIDGE,LISINOPRIL,Family Practice,0.0,0.0,0.00
8193722,ZZ,XXXXXX,AMOXICILLIN,Dentist,0.0,0.0,0.00

In [146]:
# Sorting values by drug cost to make sure there are no repetitive states
medication_per_state_cost_data_df = medication_per_state_cost_data_df.sort_values(['drug_cost'], ascending=[False]).drop_duplicates(['city']).reset_index(drop=True)
medication_per_state_cost_data_df

,state,city,drug_name,specialty_description,drug_claim_count,drug_supply_count,drug_cost
0,NY,BROOKLYN,NEXIUM,Internal Medicine,72202.0,2303192.0,18969703.78
1,NY,NEW YORK,SOVALDI,Gastroenterology,603.0,16886.0,17236901.45
2,CA,LOS ANGELES,SOVALDI,Gastroenterology,513.0,13960.0,14194735.30
3,TX,HOUSTON,SOVALDI,Gastroenterology,455.0,12712.0,12888956.20
4,MO,SAINT LOUIS,SOVALDI,Gastroenterology,420.0,11760.0,11924902.80
...,...,...,...,...,...,...,...
12143,ME,BOWDOINHAM,HYDROCODONE-ACETAMINOPHEN,Osteopathic Manipulative Medicine,0.0,0.0,0.00
12144,ME,FT FAIRFIELD,AMOXICILLIN,Dentist,0.0,0.0,0.00
12145,ME,EAST WILTON,AMOXICILLIN,Dentist,0.0,0.0,0.00
12146,ME,E WATERBORO,TIZANIDINE HCL,Pediatric Medicine,0.0,0.0,0.00
12147,ZZ,XXXXXX,AMOXICILLIN,Dentist,0.0,0.0,0.00

In [147]:
medication_per_state_cost_data_df.to_csv("data/fix.csv", index=False, encoding='utf8')

In [148]:
medication_per_state_cost_data_df_clean = pd.read_csv("data/fix_clean.csv",sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
medication_per_state_cost_data_df_clean

,state,city,drug_name,specialty_description,drug_claim_count,drug_supply_count,drug_cost
0,AK,ANCHORAGE,SOVALDI,Gastroenterology,35,980,1003035.57
1,AK,FAIRBANKS,XYREM,Physician Assistant,12,360,118057.41
2,AK,WASILLA,NEXIUM,Internal Medicine,543,11227,108272.22
3,AK,KETCHIKAN,REVLIMID,Interventional Pain Management,17,252,107561.86
4,AK,SOLDOTNA,XYREM,Family Practice,11,330,90846.88
...,...,...,...,...,...,...,...
12077,WY,GREYBULL,LATANOPROST,Optometry,27,875,379.56
12078,WY,MORAN,SIMVASTATIN,Physician Assistant,11,330,37.4
12079,WY,BIG PINEY,HYDROCODONE-ACETAMINOPHEN,Dentist,0,0,0
12080,WY,RANCHESTER,CLINDAMYCIN HCL,Dentist,0,0,0
12081,WY,PINE BLUFFS,CEPHALEXIN,Dentist,0,0,0

In [149]:
medication_per_state_cost_data_df_clean= pd.merge(medication_per_state_cost_data_df_clean,states_table_df, on = "state", how = "outer")
medication_per_state_cost_data_df_clean.head()

,state,city,drug_name,specialty_description,drug_claim_count,drug_supply_count,drug_cost,latitude,longitude,name
0,AK,ANCHORAGE,SOVALDI,Gastroenterology,35,980,1003035.57,63.588753,-154.493062,Alaska
1,AK,FAIRBANKS,XYREM,Physician Assistant,12,360,118057.41,63.588753,-154.493062,Alaska
2,AK,WASILLA,NEXIUM,Internal Medicine,543,11227,108272.22,63.588753,-154.493062,Alaska
3,AK,KETCHIKAN,REVLIMID,Interventional Pain Management,17,252,107561.86,63.588753,-154.493062,Alaska
4,AK,SOLDOTNA,XYREM,Family Practice,11,330,90846.88,63.588753,-154.493062,Alaska

In [150]:
medication_per_state_cost_data_df_clean = medication_per_state_cost_data_df_clean.dropna()
medication_per_state_cost_data_df_clean

,state,city,drug_name,specialty_description,drug_claim_count,drug_supply_count,drug_cost,latitude,longitude,name
0,AK,ANCHORAGE,SOVALDI,Gastroenterology,35,980,1003035.57,63.588753,-154.493062,Alaska
1,AK,FAIRBANKS,XYREM,Physician Assistant,12,360,118057.41,63.588753,-154.493062,Alaska
2,AK,WASILLA,NEXIUM,Internal Medicine,543,11227,108272.22,63.588753,-154.493062,Alaska
3,AK,KETCHIKAN,REVLIMID,Interventional Pain Management,17,252,107561.86,63.588753,-154.493062,Alaska
4,AK,SOLDOTNA,XYREM,Family Practice,11,330,90846.88,63.588753,-154.493062,Alaska
...,...,...,...,...,...,...,...,...,...,...
12077,WY,GREYBULL,LATANOPROST,Optometry,27,875,379.56,43.075968,-107.290284,Wyoming
12078,WY,MORAN,SIMVASTATIN,Physician Assistant,11,330,37.4,43.075968,-107.290284,Wyoming
12079,WY,BIG PINEY,HYDROCODONE-ACETAMINOPHEN,Dentist,0,0,0,43.075968,-107.290284,Wyoming
12080,WY,RANCHESTER,CLINDAMYCIN HCL,Dentist,0,0,0,43.075968,-107.290284,Wyoming
12081,WY,PINE BLUFFS,CEPHALEXIN,Dentist,0,0,0,43.075968,-107.290284,Wyoming

In [152]:
medication_per_state_cost_data_df_clean.to_csv("data/CLEAN_medication_per_state_cost_data.csv", index=False, encoding='utf8')
# medication_per_state_cost_data_df_clean.to_sql(name='CLEAN_medication_per_state_cost_data', con=engine, if_exists='append', index=False)

## Merge all three dataframes of the questions together

In [153]:
medications_per_state_most_prescribed_df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
state         52 non-null object
city          52 non-null object
drug_name     52 non-null object
drug_count    52 non-null int64
latitude      52 non-null float64
longitude     52 non-null float64
name          52 non-null object
dtypes: float64(2), int64(1), object(4)
memory usage: 3.0+ KB

In [154]:
medications_per_state_total_prescribed_df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16727 entries, 0 to 16726
Data columns (total 6 columns):
state               16727 non-null object
city                16727 non-null object
total_drug_count    16727 non-null int64
latitude            16727 non-null float64
longitude           16727 non-null float64
name                16727 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 784.2+ KB

In [155]:
medication_per_state_cost_data_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12050 entries, 0 to 12081
Data columns (total 10 columns):
state                    12050 non-null object
city                     12050 non-null object
drug_name                12050 non-null object
specialty_description    12050 non-null object
drug_claim_count         12050 non-null object
drug_supply_count        12050 non-null object
drug_cost                12050 non-null object
latitude                 12050 non-null float64
longitude                12050 non-null float64
name                     12050 non-null object
dtypes: float64(2), object(8)
memory usage: 1.0+ MB

In [156]:
merge1= pd.merge(medications_per_state_most_prescribed_df_data,medications_per_state_total_prescribed_df_data, on = "state", how = "inner")
merge1

,state,city_x,drug_name,drug_count,latitude_x,longitude_x,name_x,city_y,total_drug_count,latitude_y,longitude_y,name_y
0,NY,NEW YORK,AMLODIPINE BESYLATE,3120,43.299428,-74.217933,New York,NEW YORK,218700,43.299428,-74.217933,New York
1,NY,NEW YORK,AMLODIPINE BESYLATE,3120,43.299428,-74.217933,New York,CENEREACH,2,43.299428,-74.217933,New York
2,NY,NEW YORK,AMLODIPINE BESYLATE,3120,43.299428,-74.217933,New York,CENTER MORICHES,721,43.299428,-74.217933,New York
3,NY,NEW YORK,AMLODIPINE BESYLATE,3120,43.299428,-74.217933,New York,CENTEREACH,733,43.299428,-74.217933,New York
4,NY,NEW YORK,AMLODIPINE BESYLATE,3120,43.299428,-74.217933,New York,CENTERPORT,43,43.299428,-74.217933,New York
...,...,...,...,...,...,...,...,...,...,...,...,...
16722,VT,BURLINGTON,GABAPENTIN,101,44.558803,-72.577841,Vermont,SHARON,2,44.558803,-72.577841,Vermont
16723,VT,BURLINGTON,GABAPENTIN,101,44.558803,-72.577841,Vermont,SAINT JOHNSBURY,21,44.558803,-72.577841,Vermont
16724,VT,BURLINGTON,GABAPENTIN,101,44.558803,-72.577841,Vermont,SAINT ALBANS,1228,44.558803,-72.577841,Vermont
16725,VT,BURLINGTON,GABAPENTIN,101,44.558803,-72.577841,Vermont,S BURLINGTON,47,44.558803,-72.577841,Vermont
16726,VT,BURLINGTON,GABAPENTIN,101,44.558803,-72.577841,Vermont,RUTLAND,4719,44.558803,-72.577841,Vermont

In [157]:
part_d_Data_df_clean = pd.merge(merge1,medication_per_state_cost_data_df_clean, on = "state", how = "outer")

In [158]:
part_d_Data_df_clean

,state,city_x,drug_name_x,drug_count,latitude_x,longitude_x,name_x,city_y,total_drug_count,latitude_y,...,name_y,city,drug_name_y,specialty_description,drug_claim_count,drug_supply_count,drug_cost,latitude,longitude,name
0,NY,NEW YORK,AMLODIPINE BESYLATE,3120,43.299428,-74.217933,New York,NEW YORK,218700,43.299428,...,New York,BROOKLYN,NEXIUM,Internal Medicine,72202,2303192,18969703.78,43.299428,-74.217933,New York
1,NY,NEW YORK,AMLODIPINE BESYLATE,3120,43.299428,-74.217933,New York,NEW YORK,218700,43.299428,...,New York,NEW YORK,SOVALDI,Gastroenterology,603,16886,17236901.45,43.299428,-74.217933,New York
2,NY,NEW YORK,AMLODIPINE BESYLATE,3120,43.299428,-74.217933,New York,NEW YORK,218700,43.299428,...,New York,BRONX,JANUVIA,Internal Medicine,23769,805748,7935205.28,43.299428,-74.217933,New York
3,NY,NEW YORK,AMLODIPINE BESYLATE,3120,43.299428,-74.217933,New York,NEW YORK,218700,43.299428,...,New York,FLUSHING,SOVALDI,Gastroenterology,191,5348,5468421.55,43.299428,-74.217933,New York
4,NY,NEW YORK,AMLODIPINE BESYLATE,3120,43.299428,-74.217933,New York,NEW YORK,218700,43.299428,...,New York,VALHALLA,SOVALDI,Gastroenterology,157,4396,4480539.62,43.299428,-74.217933,New York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6642298,VT,BURLINGTON,GABAPENTIN,101,44.558803,-72.577841,Vermont,RUTLAND,4719,44.558803,...,Vermont,FLORLAM PARK,SIMVASTATIN,Urology,12,360,54.72,44.558803,-72.577841,Vermont
6642299,VT,BURLINGTON,GABAPENTIN,101,44.558803,-72.577841,Vermont,RUTLAND,4719,44.558803,...,Vermont,SOUTH WOODSTOCK,TRAZODONE HCL,Internal Medicine,0,0,0,44.558803,-72.577841,Vermont
6642300,VT,BURLINGTON,GABAPENTIN,101,44.558803,-72.577841,Vermont,RUTLAND,4719,44.558803,...,Vermont,ST ALBANS V,ESTRADIOL,Obstetrics/Gynecology,0,0,0,44.558803,-72.577841,Vermont
6642301,VT,BURLINGTON,GABAPENTIN,101,44.558803,-72.577841,Vermont,RUTLAND,4719,44.558803,...,Vermont,UNDERHILL,SUBOXONE,General Practice,0,0,0,44.558803,-72.577841,Vermont
6642302,VT,BURLINGTON,GABAPENTIN,101,44.558803,-72.577841,Vermont,RUTLAND,4719,44.558803,...,Vermont,NORTH CHITTENDEN,HYDROCODONE-ACETAMINOPHEN,Emergency Medicine,0,0,0,44.558803,-72.577841,Vermont

In [65]:
part_d_Data_df_clean.drop(columns =["latitude_x","longitude_x","latitude_y","longitude_y","name_y","drug_name_y"], inplace = True)

In [66]:
part_d_Data_df_clean = part_d_Data_df_clean.rename(columns = {"drug_name_x":"drug_name", "drug_count":"drug_count_most_consumed"})
part_d_Data_df_clean

,state,drug_name,drug_count_most_consumed,total_drug_count,specialty_description,drug_claim_count,drug_supply_count,drug_cost,avg_cost_drug
0,CA,HYDROCODONE-ACETAMINOPHEN,40167,2314491,Pharmacist,12,360,9999,833
1,TX,HYDROCODONE-ACETAMINOPHEN,24697,1472194,Cardiology,23,2070,999,43
2,NY,AMLODIPINE BESYLATE,18992,1650337,Orthopedic Surgery,20,600,10000,500
3,FL,LISINOPRIL,17115,1611230,Family Medicine,27,1050,10000,370
4,MI,HYDROCODONE-ACETAMINOPHEN,15650,824210,Multispecialty Clinic/Group Practice,32,1680,9997,312
5,IL,HYDROCODONE-ACETAMINOPHEN,14241,866555,Internal Medicine,11,308,10000,909
6,OH,HYDROCODONE-ACETAMINOPHEN,13404,1001853,Internal Medicine,12,360,9993,833
7,PA,LISINOPRIL,13276,1229100,Case Manager/Care Coordinator,242,5148,10000,41
8,NC,HYDROCODONE-ACETAMINOPHEN,11982,876296,Rheumatology,49,1690,9997,204
9,TN,HYDROCODONE-ACETAMINOPHEN,10345,634761,Multispecialty Clinic/Group Practice,12,336,999,83
10,GA,HYDROCODONE-ACETAMINOPHEN,9856,665123,Endocrinology,39,1560,9991,256
11,WA,HYDROCODONE-ACETAMINOPHEN,8776,458140,Addiction Medicine,25,736,9999,400
12,IN,HYDROCODONE-ACETAMINOPHEN,8721,536177,Rheumatology,270,11370,9994,37
13,MA,OMEPRAZOLE,8158,557193,Pulmonary Disease,194,2718,9990,51
14,WI,HYDROCODONE-ACETAMINOPHEN,7456,463181,Neurosurgery,18,492,999,56
15,VA,HYDROCODONE-ACETAMINOPHEN,7390,532042,Colorectal Surgery (formerly proctology),17,459,999,59
16,NJ,AMLODIPINE BESYLATE,7143,650274,General Practice,11,330,999,91
17,AZ,HYDROCODONE-ACETAMINOPHEN,6950,422552,Family Practice,12,672,999,83
18,MO,HYDROCODONE-ACETAMINOPHEN,6925,553249,Plastic and Reconstructive Surgery,42,2782,999,24
19,MN,HYDROCODONE-ACETAMINOPHEN,6017,401258,Medical Oncology,19,1651,999,53
20,SC,HYDROCODONE-ACETAMINOPHEN,5993,403874,Nurse Practitioner,12,336,999,83
21,CO,HYDROCODONE-ACETAMINOPHEN,5979,310071,Family Practice,11,326,9990,908
22,OR,HYDROCODONE-ACETAMINOPHEN,5938,317042,Internal Medicine,17,482,999,59
23,LA,HYDROCODONE-ACETAMINOPHEN,5880,394524,Nuclear Medicine,83,3951,10000,120
24,AL,HYDROCODONE-ACETAMINOPHEN,5879,416414,Neurosurgery,23,261,999,43
25,KY,HYDROCODONE-ACETAMINOPHEN,5563,451198,Cardiology,28,1080,9995,357
26,OK,HYDROCODONE-ACETAMINOPHEN,5072,290335,Dermatology,14,156,9987,713
27,MD,LISINOPRIL,4788,337502,General Practice,12,360,1000,83
28,PR,GABAPENTIN,4049,340193,Specialist,31,1287,9984,322
29,MS,HYDROCODONE-ACETAMINOPHEN,4001,269114,Endocrinology,76,2897,1000,13
30,KS,HYDROCODONE-ACETAMINOPHEN,3912,245809,Geriatric Medicine,14,162,999,71
31,AR,HYDROCODONE-ACETAMINOPHEN,3882,270034,Endocrinology,16,809,9993,625
32,IA,HYDROCODONE-ACETAMINOPHEN,3861,287799,Family Practice,15,155,9991,666
33,CT,LISINOPRIL,3462,285153,Unknown Physician Specialty Code,14,600,9996,714
34,UT,HYDROCODONE-ACETAMINOPHEN,2962,137461,Nurse Practitioner,19,555,9998,526
35,NV,HYDROCODONE-ACETAMINOPHEN,2962,149874,Internal Medicine,12,360,999,83
36,WV,HYDROCODONE-ACETAMINOPHEN,2521,205148,Rheumatology,22,960,999,45
37,NE,HYDROCODONE-ACETAMINOPHEN,2402,166946,Nurse Practitioner,22,285,9992,454
38,ID,HYDROCODONE-ACETAMINOPHEN,2312,112680,Family Practice,13,240,999,77
39,NM,HYDROCODONE-ACETAMINOPHEN,2288,131194,Geriatric Medicine,61,2295,9996,164
40,ME,HYDROCODONE-ACETAMINOPHEN,2103,138404,Family Practice,13,130,999,77
41,MT,HYDROCODONE-ACETAMINOPHEN,1538,79659,Physician Assistant,12,360,9986,832
42,NH,LISINOPRIL,1407,103139,Geriatric Medicine,11,298,9979,907
43,RI,HYDROCODONE-ACETAMINOPHEN,1271,100820,Psychiatry,12,360,9983,832
44,SD,HYDROCODONE-ACETAMINOPHEN,1200,75409,Cardiology,12,360,1000,83
45,HI,HYDROCODONE-ACETAMINOPHEN,1085,79295,Optometry,13,337,999,77
46,ND,HYDROCODONE-ACETAMINOPHEN,945,66876,Nephrology,146,7771,999,7
47,DC,LISINOPRIL,864,40964,Internal Medicine,37,542,1000,27
48,DE,LISINOPRIL,843,68643,Family Practice,28,840,9995,357
49,VT,LISINOPRIL,709,53720,Nurse Practitioner,23,1110,10000,435
50,WY,HYDROCODONE-ACETAMINOPHEN,682,34780,Internal Medicine,14,600,998,71
51,AK,HYDROCODONE-ACETAMINOPHEN,678,28789,Rheumatology,35,1036,99994,2857

In [67]:
part_d_Data_df_clean.to_csv("data/CLEAN_part_d_Data.csv", index=False, encoding='utf8')
part_d_Data_df_clean.to_sql(name='CLEAN_part_d_Data', con=engine, if_exists='append', index=False)